{% comment %} {% if request.current_user.is_authenticated %} {% endcomment %}
    <h1>{{ user.fullname }}</h1>
    <ul>
        <ul>
            <li>{{ user.fullname }}</li>
            <li>{{ user.email }}</li>
            <li>{{ user.username }}</li>
            <li>{{ user.status }}</li>
            <li>{{ user.created }}</li>
        </ul>
        <a href="/logout">Logout</a>
    </ul>
{% comment %} {% else %} {% endcomment %}
{% comment %} <script type="text/javascript">
    window.location.href = "/login"
</script> {% endcomment %}
{% comment %} {% endif%} {% endcomment %}