<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'timeline/css/style.css' %}"> <!-- Resource style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block lib %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/home_user.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <script src="{% static 'js/home_user.js' %}"></script>
    <title>{{ user.fullname }}</title>
    {% block js %}{% endblock %}
</head>
<body>
<div class="header">
    <nav class="main-menu">
        <ul>
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-bell"></i>
                    <div class="notify"> 
                        <span class="point point_noti"></span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-left mailbox animated zoomIn">
                    <ul>
                        <li>
                            <div class="drop-title">Notifications</div>
                        </li>
                        <li>
                            <div class="slimScrollDiv" style="position: relative; overflow-x: visible; overflow-y: hidden; width: auto; height: 250px;">
                                <div class="message-center noti_noti" style="overflow: hidden; width: auto; height: 250px;">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope"></i>
                    <div class="notify"> 
                        <span class="point point_message"></span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-left mailbox animated zoomIn">
                    <ul>
                        <li>
                            <div class="drop-title">Notifications</div>
                        </li>
                        <li>
                            <div class="slimScrollDiv" style="position: relative; overflow-x: visible; overflow-y: hidden; width: auto; height: 250px;">
                                <div class="message-center notification_chat" style="overflow: hidden; width: auto; height: 250px;">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a class="list-group-item" href="{% url 'user:homeuser' %}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a></li>
            <li><a class="list-group-item" href="{% url 'user:detail_user' %}"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; Settings</a></li>
            <li><a class="list-group-item" href="{% url 'user:logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp; Logout</a></li>
        </ul>
    </nav>
</div>
<br/>
<br/>
<div class="container" id="info_user">
    {% block content %}{% endblock %}
</div>
<audio id="myAudio">
    <source src="{% static 'ping.mp3' %}" type="audio/mpeg">
</audio>
<script>
        var x = document.getElementById("myAudio");
        var userName = {{ username }};
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/user/' + userName + '/');
        $("body .point").hide();

        function check_exits(id, list){
            var x = false;
            for (var i = 0; i < list.length; i++)
                if (list[i] == id){
                    x = true;
                    break;
                }
            return x;
        }
        // nhan message tu server
        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var type_save = data['type'];
            if (typeof type_save !== 'undefined'){
                if (type_save == 're-noti'){
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                }else{
                    var href="javascript:register_popup('chat"+message+"', "+message+");"
                    var noti = '<a href="'+href+'" class="noti_chat"><div class="mail-contnet"><span class="mail-desc">'+message+'</span></div></a>';
                    $('.notification_chat').prepend(noti);
                }
                
            }else{
                if (message ==  'give up'){
                    setTimeout(function(){
                        $("#info_user").load(location.href + " #info_user");
                    }, 2000);
                }else if (message.includes('new+chat')){
                    var tkid = message[0];
                    if ($('body .chat'+tkid).length){
                        if ($('body .chat'+tkid).css('display') == 'none'){
                            var href="javascript:register_popup('chat"+message[0]+"', "+message[0]+");"
                            var noti = '<a href="'+href+'" class="noti_chat"><div class="mail-contnet"><span class="mail-desc">'+message[0]+'</span></div></a>';
                            $('.notification_chat').prepend(noti);
                            $("body .point_message").show();
                            x.play();
    
                            chatSocket.send(JSON.stringify({
                                'message' : message[0],
                                'type' : 'chat',
                            }));
                        }
                    }else{
                        var href="javascript:register_popup('chat"+message[0]+"', "+message[0]+");"
                        var noti = '<a href="'+href+'" class="noti_chat"><div class="mail-contnet"><span class="mail-desc">'+message[0]+'</span></div></a>';
                        $('.notification_chat').prepend(noti);
                        $("body .point_message").show();
                        x.play();
    
                        chatSocket.send(JSON.stringify({
                            'message' : message[0],
                            'type' : 'chat',
                        }));
                    }
                }else{
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $(".point_noti").show();
                    x.play();
                    setTimeout(function(){
                        $("#info_user").load(location.href + " #info_user");
                    }, 2000);
    
                    chatSocket.send(JSON.stringify({
                        'message' : message,
                        'type' : 'save',
                    }));
                }
            }
            
                
        };
    

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        $("body").on('click', '.fa-bell', function(){
            $("body .point_noti").hide();
        });

        $("body").on('click', '.fa-envelope', function(){
            $("body .point_message").hide();
        });


        function formatAMPM(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0'+minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }
        var dict_ws = {};
        $("body").on('click', '.noti_chat', function(){
            var tkid = $(this).children().children('span').html();
            $('body .chat'+tkid).show();
            $("body .mytext").focus();
            var roomName = makeid();

            if (dict_ws[tkid] == undefined){
                dict_ws[tkid] = new WebSocket(
                'ws://' + window.location.host +
                '/ws/' + tkid + '/');
            }

            var me = {};
            me.avatar = "https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/22885865_1722296451175676_8315630450281336486_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeF3N32BRG1HfiI6wYFOD0syQnWULRna1ynbA4X_9isP5U9OTYpX393weyHM7i53ld34rFsOa0PdREWLJij8FWXIF0EfX1p8u3GUsxq_xcyEsw&oh=733c482517a19a82689b73cea0f35a4e&oe=5B58D2E3";

            var you = {};
            you.avatar = "https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/14732373_1224510360954290_7402332525860387467_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHKXwDy_s1iK9FoOwayfi1qoOsIZlCm_H_ILhjIlp7LpK_1UzL2lTNdV6hbvFqTDhhJngiHagzjXZdsq1veAd6UGPEJKNXC4eyjPt-BNHGNUA&oh=6e9c0ee4c9352e7446fdef79a9037cd7&oe=5B5799DF";
        

            //-- No use time. It is a javaScript effect.
            function insertChat(who, text, time){
                if (time === undefined){
                    time = 0;
                }
                var control = "";
                var date = time;
                
                if (who == "me"){
                    control = '<li style="width:100%">' +
                                    '<div class="msj macro">' +
                                    '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                                        '<div class="text text-l">' +
                                            '<p>'+ text +'</p>' +
                                            '<p><small>'+date+'</small></p>' +
                                        '</div>' +
                                    '</div>' +
                                '</li>';                    
                }else{
                    control = '<li style="width:100%;">' +
                                    '<div class="msj-rta macro">' +
                                        '<div class="text text-r">' +
                                            '<p>'+text+'</p>' +
                                            '<p><small>'+date+'</small></p>' +
                                        '</div>' +
                                    '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
                            '</li>';
                }
                setTimeout(
                    function(){                        
                        $("body #chat"+tkid+" .frame > ul").append(control).scrollTop($("body #chat"+tkid+" .frame > ul").prop('scrollHeight'));
                    }, time);
                
            }

            
            dict_ws[tkid].onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                var who = data['who'];
                var time = data['time'];
                insertChat(who, message, time);
            };
            
        });

        $('body').on('click', 'header', function(){
            $(this).next().slideToggle(300, 'swing');
        })

        $('body').on('click', '.xxx', function(){
            $("body .mytext").trigger({type: 'keydown', which: 13, keyCode: 13});
        })

        $("body .mytext").focus();
        $('body').on('keyup', '.mytext', function(e){
            if (e.keyCode === 13) {
                $(this).parent().parent().next().children('span').click();
            }
        })

        $('body').on('click', '.xxx', function(){
            var message = $(this).parent().parent().children().children().children('input').val();
            var tk_id = $(this).parent().parent().parent().parent().children().children('.popup-head-left').children('h4').html();
            var date = formatAMPM(new Date());
            if (message != ''){
                dict_ws[tk_id].send(JSON.stringify({
                    'message' : message,
                    'who' : 'me',
                    'time' : date
                }));
            }
            $(this).parent().parent().children().children().children('input').val('');
            // Thông báo tới group_agent để báo tin nhắn mới offline
            list_ag = [];
            var array = $('#hd'+tk_id).html().split("<br>");
                        for (i = 0; i < array.length-1; i++) {
                            var agentName = array[i].replace(/\s/g,'');
                            list_ag.push(agentName);
                        }

            var chatSocket1 = new WebSocket(
            'ws://' + window.location.host +
            '/ws/agent/group_agent_Socket/');
            var message = 'new_chat';
            list_ag.unshift(message);
            list_ag.unshift(userName);
            list_ag.unshift(tk_id);
            chatSocket1.onopen = function (event) {
                chatSocket1.send(JSON.stringify({
                    'message' : list_ag,
                }));
            };
        })


        $('body').on('click', '.chat-close', function(){
            var tk_id = $(this).parent().next().children('h4').html();
            dict_ws[tk_id].close();
            delete dict_ws[tk_id];
            $("body #chat"+tk_id+" .frame > ul").empty();
        })
</script>
</body>
</html>