<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <title>Reset Password</title>
</head>
<body>
    <div id="id04">
        <form class="modal-content animate" action="" method="POST">
        {% csrf_token %}
        
        <div class="imgcontainer">
            <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
        <div class="container">
            <label for="pwd1"><b>Nhập mật khẩu mới</b></label>
            <input type="password" name="pwd1" required>
            <div class="invalid-msg"></div>

            <label for="pwd2"><b>Nhập lại mật khẩu mới</b></label>
            <input type="password" name="pwd2" required>
            <div class="invalid-msg"></div>

            <button type="submit" value="OK" id="uemail" >Thay đổi</button>
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id04').style.display='none'" class="cancelbtn">Cancel</button>
        </div>
        </form>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>