{% extends 'user/base.html' %}
    {% load staticfiles %}
    {% block lib %}
    <link rel="stylesheet" href="{% static 'css/home_user.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <script src="{% static 'js/home_user.js' %}"></script>
    {% endblock%}
    {% block content %}
    <h2>Your tickets</h2>
    <br/>
    <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#id02">
        <span class="glyphicon glyphicon-plus"></span> Create new ticket
    </button>
    <br/>
    <br/>
    <table class="table table-striped table-bordered" id="list_tk_user">
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Status</td>
            <td>Handler</td>
            <td>Option</td>
        </tr>
        {% csrf_token %}
        {% for tk in ticket %}
        <tr>
            <td>
                <button type="button" class="btn" data-toggle="modal" data-target="#{{tk.id}}content">{{tk.id}}</button>
            </td>
            <td>{{tk.title}}</td>
            {% if tk.status == 0 %}
            <td><span class="label label-danger">pending</span></td>
            {% elif tk.status == 1 %}
            <td><span class="label label-warning">processing</span></td>
            {% elif tk.status == 2 %}
            <td><span class="label label-success">done</span></td>
            {% else %}
            <td><span class="label label-default">closed</span></td>
            {% endif %}


            {% if tk.status == 0 %}
                <td id="hd{{tk.id}}">Nobody</td>
            {% else %}
                <td id="hd{{tk.id}}">
                    {% for hd in handler %}
                        {% if hd.ticketid == tk %}
                            {{hd.agentid.username}}<br>
                        {% endif%}
                    {% endfor%}
                </td>
            {% endif %}
            <td>
            {% if tk.status < 3 %}
                <button type="button" class="btn btn-danger close_ticket" data-toggle="tooltip" title="close" id="{{tk.id}}" >
                    <span class="glyphicon glyphicon-off"></span>
                </button>
            {% else %}
                <button disabled type="button" class="btn btn-danger close_ticket" data-toggle="tooltip" title="close" id="{{tk.id}}">
                    <span class="glyphicon glyphicon-off"></span>
                </button>
            {% endif %}
            
            {% if 1 == tk.status or tk.status == 2 %}
                <a href="javascript:register_popup('chat{{tk.id}}', {{tk.id}});" type="button" class="btn btn-primary" data-toggle="tooltip" title="conversation" id="chat_with_agent">
                    <span class="glyphicon glyphicon-comment" ></span>
                    <input type="hidden" value="{{tk.id}}"/>
                </a>
            {% else %}
                <a href="javascript:register_popup('chat{{tk.id}}', {{tk.id}});"  type="button" disabled class="btn btn-primary not-active" data-toggle="tooltip" title="conversation">
                    <span class="glyphicon glyphicon-comment" ></span>
                </a>
            {% endif %}
                <a href="{% url 'user:history' tk.id %}" type="button" class="btn btn-warning" data-toggle="tooltip" title="history">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </a>
            </td>
        </tr>

        

        <div class="modal fade" id="{{tk.id}}content" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                        <h4 class="modal-title">Ticket no.{{tk.id}}</h4>
                    </div>
                    <div class="modal-body form-group">
                        <label for="content">Title:</label>
                        <p><b>{{tk.title}}</b></p><br>
                        <label for="content">Topic:</label>
                        <p><b>{{tk.topicid.name}}</b></p><br>
                        <label for="content">Content:</label>
                        <p><b>{{tk.content}}</b></p><br>
                        <label for="datestart">Date Start:</label>
                        <p><b>{{ tk.datestart}}</b></p><br>
                        <label for="dateend">Date End:</label>
                        <p><b>{{tk.dateend}}</b></p>
                        <br/>
                        {% if tk.attach != '' %}
                        <label for="dateend">Attach:</label>
                        <img src="/media/{{tk.attach}}" alt="none" style="width:100%;height:100%;">
                        {% endif %}
                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>
</div>
<script>
        $(document).ready(function(){

            $('body').on('click', '.close_ticket', function(){
                var id = $(this).attr('id');
                var token = $("input[name=csrfmiddlewaretoken]").val();
                var mgs = 'Ticket ' +id+' is closed by '+userName;
                var message = []
                if(confirm("Are you sure ?")){
                    $.ajax({
                        type:'POST',
                        url:location.href,
                        data: {'tkid':id, 'csrfmiddlewaretoken':token},
                        success: function(){
                            // window.location.reload();
                            $("#list_tk_user").load(location.href + " #list_tk_user");

                            var array = $('#hd'+id).html().split("<br>");
                            for (i = 0; i < array.length-1; i++) {
                                var agentName = array[i].replace(/\s/g,'');
                                message.push(agentName);
                            }

                            message.push(mgs);
                            var chatSocket1 = new WebSocket(
                            'ws://' + window.location.host +
                            '/ws/agent/group_agent_Socket/');
                            chatSocket1.onopen = function (event) {
                                chatSocket1.send(JSON.stringify({
                                    'message' : message,
                                }));
                            };
                        }
                    });
                }
                
            });
            
            $("body").on('click', '#chat_with_agent', function(){
                var tkid = $(this).children('input').val();
                $('body .chat'+tkid).show();
                $("body .mytext").focus();
                var roomName = makeid();

                if (dict_ws[tkid] == undefined){
                    dict_ws[tkid] = new WebSocket(
                    'ws://' + window.location.host +
                    '/ws/' + tkid + '/');
                }

                var me = {};
                me.avatar = "https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/22885865_1722296451175676_8315630450281336486_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeF3N32BRG1HfiI6wYFOD0syQnWULRna1ynbA4X_9isP5U9OTYpX393weyHM7i53ld34rFsOa0PdREWLJij8FWXIF0EfX1p8u3GUsxq_xcyEsw&oh=733c482517a19a82689b73cea0f35a4e&oe=5B58D2E3";

                var you = {};
                you.avatar = "https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/14732373_1224510360954290_7402332525860387467_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHKXwDy_s1iK9FoOwayfi1qoOsIZlCm_H_ILhjIlp7LpK_1UzL2lTNdV6hbvFqTDhhJngiHagzjXZdsq1veAd6UGPEJKNXC4eyjPt-BNHGNUA&oh=6e9c0ee4c9352e7446fdef79a9037cd7&oe=5B5799DF";
            

                //-- No use time. It is a javaScript effect.
                function insertChat(who, text, time){
                    if (time === undefined){
                        time = 0;
                    }
                    var control = "";
                    var date = time;
                    
                    if (who == "me"){
                        control = '<li style="width:100%">' +
                                        '<div class="msj macro">' +
                                        '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                                            '<div class="text text-l">' +
                                                '<p>'+ text +'</p>' +
                                                '<p><small>'+date+'</small></p>' +
                                            '</div>' +
                                        '</div>' +
                                    '</li>';                    
                    }else{
                        control = '<li style="width:100%;">' +
                                        '<div class="msj-rta macro">' +
                                            '<div class="text text-r">' +
                                                '<p>'+text+'</p>' +
                                                '<p><small>'+date+'</small></p>' +
                                            '</div>' +
                                        '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
                                '</li>';
                    }
                    setTimeout(
                        function(){                        
                            $("body #chat"+tkid+" .frame > ul").append(control).scrollTop($("body #chat"+tkid+" .frame > ul").prop('scrollHeight'));
                        }, time);
                    
                }

                
                dict_ws[tkid].onmessage = function(e) {
                    var data = JSON.parse(e.data);
                    var message = data['message'];
                    var who = data['who'];
                    var time = data['time'];
                    insertChat(who, message, time);
                };
               
            });
             
        });
        
</script>

<div class="modal fade" id="id02" role="dialog" >
    <div class="modal-dialog">
        <div class="modal-content ">
            <form method="POST" enctype="multipart/form-data" onsubmit="return validateSize()">
                <div class="modal-header">
                    <h4 class="modal-title">New ticket</h4>
                </div>
                 <div class="modal-body form-group">
                     {% csrf_token %}
                     {% for key, value in form.error.items %}
                     {{value}}
                     {% endfor%}
                     <label for="title"><b>Title</b></label>
                     {{form.title}}
                     <br /><label for="topic"><b>Topic</b></label><br />
                     <select name="topic" class="form-control">
                         {% for tp in topic %}
                         <option value="{{tp.id}}">{{tp.name}}</option>
                         {% endfor %}
                     </select>
                     <br />
                     <label for="content"><b>Content</b></label><br /><br />
                     {{form.content}}
                     <br />
                     <label for="attach"><b>Attach</b></label><br />
                     <input type="file" class="form-control" accept="image/*" name="attach" id="attach">
                     <div><font id="invalid-msg" color="red" size="5"></font></div>
                 </div>
                <div class="modal-footer">
                     <button type="submit" class="btn btn-primary" value="OK" id="i_submit" onsubmit="return validateSize()">Send</button>
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
          </form>
        </div>
    </div>
</div>
<script type="text/javascript" >
    $('#invalid-msg').html("");
    function validateSize(){
        if(($("#attach"))[0].files[0].size > 10485760){
            $('#invalid-msg').html("maximum size is 10MB");
            return false;
        }
        return true;
    }

    $(document).ready(function(){
        // sau khi submit thanh cong thi send message tu websocket len server
        $("#id02").submit(function() {
            var chatSocket1 = new WebSocket(
            'ws://' + window.location.host +
            '/ws/agent/group_agent_Socket/');
            var message = 'new_ticket';
            chatSocket1.onopen = function (event) {
                chatSocket1.send(JSON.stringify({
                    'message' : message,
                }));
            };
        });
    });
</script>

{% endblock %}