<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/mess.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <title>Home</title>
</head>
<body>
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
    <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Register</button>
    <!-- <a href="{% url 'user:login' %}">Login</a> -->

    <div id="id01" class="modal">
        
            <form class="modal-content animate" action="" method="POST">
            {% csrf_token %}
            
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>
        
            <div class="container">
                <label for="uname"><b>Username</b></label>
                {% comment %} {{form.username}} {% endcomment %}
                <input type="text" placeholder="Enter Username" name="username" required>
                <div class="invalid-msg"></div>
    
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                {% comment %} {{form.password}} {% endcomment %}
                <div class="invalid-msg1"></div>
    
                <button type="submit" value="OK" id="login" >Login</button>
                {% comment %} <input type="submit" value="Đăng nhập" /> {% endcomment %}
                <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        
            <div class="container" style="background-color:#f1f1f1">
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
            </form>
        </div>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/validate.js' %}"></script>

        <div id="id02" class="modal">
                <form class="modal-content" action="." method="POST">
                    {% csrf_token %}
                    {% for key, value in form.error.items %}
                        {{value}}
                    {% endfor%}
        
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                    </div>
                  <div class="container">
                    <h1>Sign Up</h1>
                    <p>Please fill in this form to create an account.</p>
                    <hr>
        
                    <label for="fullname"><b>Full name</b></label>
                    <input class="inputText" type="text" placeholder="Full name" name="fullname" >
                    <div class="invalid-msg"></div>
                    {% comment %} {{form.fullname}} {% endcomment %}
        
                    <label for="username"><b>Username</b></label>
                    <input class="inputText" type="text" placeholder="Enter Username" name="username" >
                    <div class="invalid-msg"></div>
                    {% comment %} {{form.username}} {% endcomment %}
        
                    <label for="email"><b>Email</b></label>
                    <input class="inputText" type="text" placeholder="Enter Email" name="email" id="email_">
                    <div class="invalid-msg"></div>
                    {% comment %} {{form.email}} {% endcomment %}
              
                    <label for="psw"><b>Password</b></label>
                    <input class="inputText" type="password" placeholder="Enter Password" name="password" id="p1" >
                    <div class="invalid-msg"></div>
                    {% comment %} {{form.password}} {% endcomment %}
              
                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input class="inputText" type="password" placeholder="Repeat Password" name="password2" id="p2">
                    <div class="invalid-msg"></div>
                    {% comment %} {{form.password2}} {% endcomment %}
        
                    <button type="submit" value="OK" id="register">Register</button>
                    {% comment %} <input type="submit" value="Đăng ký" /> {% endcomment %}
                    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
              
                    <div class="clearfix">
                      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            <script src="{% static 'js/login.js' %}"></script>
</body>
</html>