{% extends 'user/base.html' %}
    {% load staticfiles %}
{% block title %}Profile{% endblock %}
    {% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Your profile
      </h1>
      <ol class="breadcrumb">
        <li><a ><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Profile</li>
      </ol>
    </section>

  <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped table-bordered" id="info-user">
                  <tbody>
                    <tr>
                        <td>Fullname</td>
                      <td id="full_name">{{ user.fullname }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                      <td id="email_user">{{ user.email }}</td>
                    </tr>
                    <tr>
                        <td>Username</td>
                      <td>{{ user.username }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                      <td id="phone_user">{{user.phone}}</td>
                    </tr>
                    <tr>
                        <td>Receive email</td>
                      {% if user.receive_email == 1 %}
                            <td id="rc_email">Yes</td>
                        {% else %}
                            <td id="rc_email">No</td>
                      {% endif%}
                    </tr>
                    <tr>
                        <td>Status</td>
                      {% if user.status == 0 %}
                        <td><span class="label label-danger">inactive</span></td>
                        {% else %}
                        <td><span class="label label-success">active</span></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td>Date created</td>
                      <td>{{ user.created }}</td>
                    </tr>
                  </tbody>
                </table>
                <button type="button" class="btn btn-primary info_agent" id="{{ user.id }}" data-toggle="modal" data-title="change" data-target="#topicModal" >
                        <span class="glyphicon glyphicon-wrench"> Change info</span>
                </button>

                <button type="button" class="btn btn-primary pwd_agent" id="{{ user.id }}" data-toggle="modal" data-title="change_pwd" data-target="#topicModal" >
                        <span class="glyphicon glyphicon-wrench" id="{{user.password}}" name='pwd_current'> Change password</span>
                </button>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% csrf_token %}
<div id="topicModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="title"></h3>
            </div>
            <div class="modal-body form-group">
                <div id="info">
                    <label for="fullname"><b>Full name</b></label>
                    <input class="inputText form-control" type="text" placeholder="Full name" name="fullname" >

                    <label for="email"><b>Email</b></label>
                    <input class="inputText form-control" type="text" placeholder="Enter Email" name="email">

                    <label for="phone"><b>Phone</b></label>
                    <input class="inputText form-control" type="text" placeholder="Enter your phone number" name="phone">
                    <br/>
                    <input class="inputText" style="transform: scale(2)" type="checkbox" name="receive_mail" > <b>   Receive Email?</b>
                </div>

                <div id="pwd">
                    <label for="psw-current"><b>Current Password</b></label>
                    <input class="inputText form-control" type="password" placeholder="Enter current Password" name="current_password">

                    <label for="psw"><b>Password</b></label>
                    <input class="inputText form-control" type="password" placeholder="Enter new Password" name="password">

                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input class="inputText form-control" type="password" placeholder="Repeat new Password" name="password2">
                </div>

                <input type="hidden" name="userid" value="">

            </div>
            <div class="modal-footer">
                <button type="button" id="changeuser" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id = "change_user_close">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/detail_user.js' %}"></script>
{% endblock %}

