{% extends 'user/base.html' %}
    {% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Your tickets
      </h1>
      <ol class="breadcrumb">
        <li><a ><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Tickets</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <button class="btn btn-lg btn-primary" data-toggle="modal" data-target="#id02">
                <span class="glyphicon glyphicon-plus"></span> Create new ticket
            </button>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table style="width:100%;" id="list_tk_user" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th width="5%">ID</th>
                        <th width="15%">Topic</th>
                        <th width="40%">Title</th>
                        <th width="10%">Status</th>
                        <th width="10%">Handler</th>
                        <th width="20%">Option</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% csrf_token %}
                    {% for tk in ticket %}

                    <div class="modal fade" id="{{tk.id}}content" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Ticket no.{{tk.id}}</h4>
                                </div>
                                <div class="modal-body form-group">
                                    <label>Title:</label>
                                    <p>{{tk.title}}</p>
                                    <label>Topic:</label>
                                    <p>{{tk.topicid.name}} - {{tk.topicid.description}}</p>
                                    <label>Content:</label>
                                    <p>{{tk.content}}</p>
                                    <label>Date Start:</label>
                                    <p>{{ tk.datestart}}</p>
                                    <label>Date End:</label>
                                    <p>{{tk.dateend}}</p>
                                    {% if tk.attach != '' %}
                                    <b>Attach:</b><br>
                                    <img src="/media/{{tk.attach}}" alt="none" style="max-width:80%;max-height:600px;display: block;margin-left: auto;margin-right: auto;">
                                    {% endif %}
                                </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
    <div class="modal fade" id="id02" role="dialog" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <form method="POST" enctype="multipart/form-data" onsubmit="return validateSize()">
                    <div class="modal-header">
                        <h4 class="modal-title">New ticket</h4>
                    </div>
                     <div class="modal-body form-group">
                         {% csrf_token %}
                         {% for key, value in form.error.items %}
                         {{value}}
                         {% endfor%}
                         <label for="title"><b>Title</b></label>
                         {{form.title}}
                         <br /><label for="topic"><b>Topic</b></label><br />
                         <select name="topic" class="form-control" id="mySelect">
                             {% for tp in topic %}
                                <option value="{{tp.id}}" name="{{tp.name}}">{{tp.name}} - {{tp.description}}</option>
                             {% endfor %}
                         </select>
                         <br />
                         <label for="content"><b>Content</b></label><br /><br />
                         {{form.content}}
                         <br />
                         <label for="attach"><b>Attach</b></label><br />
                         <input type="file" class="form-control" accept="image/*" name="attach" id="attach">
                         <div><font id="invalid-msg" color="red" size="5"></font></div>
                     </div>
                    <div class="modal-footer">
                         <button type="submit" class="btn btn-primary" value="OK" id="i_submit" onsubmit="return validateSize()">Send</button>
                         <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
              </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block js%}
<script>
        $(document).ready(function(){
            var table = $('#list_tk_user').DataTable({
                "columnDefs": [
                    { "width": "5%", "targets": 0 },
                    { "width": "20%", "targets": 1 },
                    { "width": "35%", "targets": 2 },
                    { "width": "10%", "targets": 3 },
                    { "width": "10%", "targets": 4 },
                    { "width": "20%", "targets": 5 },
                ],
                "ajax": {
                    "type": "GET",
                    "url": location.href +"data/",
                    "contentType": "application/json; charset=utf-8",
                    "data": function(result){
                        return JSON.stringify(result);
                    }
                },
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "order": [[ 0, "desc" ]],
                "displayLength": 25,
            });
            $('body').on('click', '.close_ticket', function(){
                var id = $(this).attr('id');
                var token = $("input[name=csrfmiddlewaretoken]").val();
                var mgs = 'Ticket ' +id+' is closed by '+userName;
                var message = []
                if(confirm("Are you sure ?")){
                    $.ajax({
                        type:'POST',
                        url:location.href,
                        data: {'tkid':id, 'csrfmiddlewaretoken':token},
                        success: function(){
                            // window.location.reload();
                            $("#list_tk_user").DataTable().ajax.reload();
                            var array = $('#hd'+id).html().split("<br>");
                            for (i = 0; i < array.length-1; i++) {
                                var agentName = array[i].replace(/\s/g,'');
                                message.push(agentName);
                            }

                            message.push(mgs);
                            var date = formatAMPM(new Date());
                            var chatSocket1 = new WebSocket(
                            'ws://' + window.location.host +
                            '/ws/agent/agent+group_agent_Socket/');
                            chatSocket1.onopen = function (event) {
                                chatSocket1.send(JSON.stringify({
                                    'message' : message,
                                    'time': date
                                }));

                                chatSocket1.send(JSON.stringify({
                                    'message' : 'reload_home_agent',
                                    'time': date
                                }));
                            };
                        }
                    });
                }

            });

            $("body").on('click', '#chat_with_agent', function(){
                var tkid = $(this).children('input').val();
                $('body .chat'+tkid).show();
                $("body .mytext").focus();

                if (dict_ws[tkid] == undefined){
                    dict_ws[tkid] = new WebSocket(
                    'ws://' + window.location.host +
                    '/ws/' + tkid + '/');
                }

                var me = {};
                me.avatar = "https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/User_man_male_profile_account_person_people.png";

                var you = {};
                you.avatar = "https://cdn2.iconfinder.com/data/icons/rcons-users-color/32/support_man-512.png";


                //-- No use time. It is a javaScript effect.
                function insertChat(who, text, time){
                    if (time === undefined){
                        time = 0;
                    }
                    var control = "";
                    var date = time;

                    if (who == "me"){
                        control = '<li style="width:100%">' +
                                        '<div class="msj macro">' +
                                        '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                                            '<div class="text text-l">' +
                                                '<p>'+ text +'</p>' +
                                                '<p><small>'+date+'</small></p>' +
                                            '</div>' +
                                        '</div>' +
                                    '</li>';
                    }else{
                        control = '<li style="width:100%;">' +
                                        '<div class="msj-rta macro">' +
                                            '<div class="text text-r">' +
                                                '<p>'+text+'</p>' +
                                                '<p><small>'+date+'</small></p>' +
                                            '</div>' +
                                        '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +
                                '</li>';
                    }
                    setTimeout(
                        function(){
                            $("body #chat"+tkid+" .frame > ul").append(control).scrollTop($("body #chat"+tkid+" .frame > ul").prop('scrollHeight'));
                        }, time);

                }


                dict_ws[tkid].onmessage = function(e) {
                    var data = JSON.parse(e.data);
                    var message = data['message'];
                    var who = data['who'];
                    var time = data['time'];
                    insertChat(who, message, time);
                };

            });

        });

</script>


<script type="text/javascript" >
    $('#invalid-msg').html("");
    function validateSize(){
        if(($("#attach"))[0].files[0].size > 10485760){
            $('#invalid-msg').html("maximum size is 10MB");
            return false;
        }
        return true;
    }

    $(document).ready(function(){
        // sau khi submit thanh cong thi send message tu websocket len server
        $("#id02").submit(function() {
            var chatSocket1 = new WebSocket(
            'ws://' + window.location.host +
            '/ws/agent/agent+group_agent_Socket/');
            var message = '';
            var department = document.getElementById("mySelect").value;
            var department_name = $("#mySelect option[value='"+department+"']").attr("name");
            message = 'You have a new ticket!'+department_name;

            var date = formatAMPM(new Date());
            chatSocket1.onopen = function (event) {
                chatSocket1.send(JSON.stringify({
                    'message' : message,
                    'time' : date
                }));
            };
        });
    });
</script>
{% endblock %}