<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <title>{% block title %}Login{% endblock %}</title>
    <script language="javascript">
            function validateForm()
            {
                // Bước 1: Lấy giá trị của username và password
                var username = document.getElementsByName('username').value;
                var password = document.getElementsByName('password').value;
                
                // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
                if (username == 'dangvv'){
                    alert('Bạn chưa nhập tên đăng nhập');
                }
                else if (password == '')
                {
                    alert('Bạn chưa nhập mật khẩu');
                }
                else{
                    alert('Dữ liệu hợp lệ, ta có thể chấp nhận submit form');
                    return true;
                }
                return false;
            }
    </script>
</head>

<body>           
        {% block content %}
        <h2>Modal Login Form</h2>
    
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
    
    <div id="id01" class="modal">
        
        <form class="modal-content animate" action="" onsubmit="return validateForm()" method="POST">
        {% csrf_token %}
        
        <div class="imgcontainer">
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        </div>
    
        <div class="container">
            <label for="uname"><b>Username</b></label>
            {% comment %} {{form.username}} {% endcomment %}
            <input type="text" placeholder="Enter Username" name="username" required>
    
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            {% comment %} {{form.password}} {% endcomment %}
            <button type="submit" value="OK">Login</button>
            {% comment %} <input type="submit" value="Đăng nhập" /> {% endcomment %}
            <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>
    
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
        </form>
    </div>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    {% endblock %}
</body>
</html>