{% extends 'agent/base_leader.html' %}
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-envelope f-s-35 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ tk_open }}</h2>
                                    <p class="m-b-0">Ticket Pending</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-envelope-open f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ tk_processing }}</h2>
                                    <p class="m-b-0">Ticket Processing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-check-square-o f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ tk_done}}</h2>
                                    <p class="m-b-0">Ticket Done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ agent_total }}</h2>
                                    <p class="m-b-0">Total Agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Container fluid  -->
                {% csrf_token %}
            <div class="container-fluid" id="tbody">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-title">
                                Tickets
                            </div>
                            <div class="card-body" id="tabdiv">
                                <table  class="table display table-bordered table-striped" id="list_ticket_leader">
                                    <thead>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th width="20%">Title</th>
                                        <th width="20%">Topic</th>
                                        <th width="10%">Sender</th>
                                        <th width="10%">Status</th>
                                        <th width="10%">Handler</th>
                                        <th width="25%">Option</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
                {% for tk in ticket %}
                    <div class="modal" id="{{tk.id}}content" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                    <h4 class="modal-title">Ticket no.{{tk.id}}</h4>
                                </div>
                                <div class="modal-body form-group">
                                    <label for="content">Title:</label>
                                    <p><b>{{tk.title}}</b></p>
                                    <label for="content">Topic:</label>
                                    <p><b>{{tk.topicid.name}}</b></p>
                                    <label for="content">Content:</label>
                                    <p><b>{{tk.content}}</b></p>
                                    <label for="datestart">Date Start:</label>
                                    <p><b>{{ tk.datestart}}</b></p>
                                    <label for="dateend">Date End:</label>
                                    <p><b>{{tk.dateend}}</b></p>
                                    <br/>
                                    {% if tk.attach != '' %}
                                    <label for="dateend">Attach:</label>
                                    <img src="/media/{{tk.attach}}" alt="none" style="width:100%;height:100%;">
                                    {% endif %}
                                </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                {% endfor%}
            <div id="forward_modal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Agent List</h3>
                        </div>
                        <div class="modal-body form-group">
                            {% for agent in agent %}
                                <input class="inputText" type="checkbox" name="{{ agent.username }}" > {{ agent.username }} <br>
                            {% endfor%}
                            <input type="hidden" name="ticketid" value="">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-success forward_ticket">Forward</button>
                            <button type="button" class="btn btn-default closefd" data-dismiss="modal" id = "forward_ticket_close">Close</button>
                            <center class="loading" hidden><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></center>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <!-- End footer -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/home_admin.js' %}"></script>
{% endblock %}