{% extends 'agent/base.html' %}
{% load static %}
{% block title %}Agent{% endblock %}
{% block js %}
        
{% endblock%}
{% block content %}

        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-envelope f-s-35 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right" id="pending">
                                    <h2>{{ tk_open }}</h2>
                                    <p class="m-b-0">Ticket Pending</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-envelope-open f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right" id="processing">
                                    <h2>{{ tk_processing }}</h2>
                                    <p class="m-b-0">Ticket Processing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-check-square-o f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right" id="done">
                                    <h2>{{ tk_done}}</h2>
                                    <p class="m-b-0">Ticket Done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ user_total }}</h2>
                                    <p class="m-b-0">Total User</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h4>Open Ticket </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table" id="list_ticket_home">
                                        <thead>
                                            <tr>
                                                <th width="5%">ID</th>
                                                <th width="5%">Sender</th>
                                                <th width="50%">Title</th>
                                                <td width="25%">Date expired</td>
                                                <th width="5%">Status</th>
                                                <th width="5%">Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for tk in ticket %}
                                            <tr>
                                                <th scope="row">
                                                    <button type="button" class="btn" data-toggle="modal" data-target="#{{tk.id}}content">{{tk.id}}</button>
                                                </th>

                                                <td>
                                                    <div class="round-img">
                                                        <a href=""><img src="{% static 'images/avatar/4.jpg' %}" alt=""></a>
                                                    </div>
                                                </td>

                                                <td>{{tk.title}}</td>

                                                <td>{{tk.dateend}}</td>

                                                <td><span class="label label-danger">Pending</span></td>

                                                <td>
                                                    <form method="post" id="assignform">
                                                        <button type="button" class="btn btn-success assign_ticket" id="{{tk.id}}" data-toggle="tooltip" title="assign">
                                                            <span class="glyphicon glyphicon-ok"></span> Assign
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <div class="modal" id="{{tk.id}}content" role="dialog">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Ticket no.{{tk.id}}</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>
                                                        <div class="modal-body form-group">
                                                            <b>Owner:</b>
                                                            <p>{{tk.sender.fullname}}</p>
                                                            <b>Title:</b>
                                                            <p>{{tk.title}}</p>
                                                            <b>Topic:</b>
                                                            <p>{{tk.topicid.name}}</p>
                                                            <b>Content:</b>
                                                            <p>{{tk.content}}</p>
                                                            <b>Date Start:</b>
                                                            <p>{{ tk.datestart}}</p>
                                                            <b>Date End:</b>
                                                            <p>{{tk.dateend}}</p>
                                                            {% if tk.attach != '' %}
                                                            <b>Attach:</b><br>
                                                            <img src="/media/{{tk.attach}}" alt="none" style="max-width:80%;max-height:600px;display: block;margin-left: auto;margin-right: auto;">
                                                                {% endif %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <input id="user_name{{tk.id}}" type="hidden" value="{{ tk.sender.username}}">
                                            {% endfor%}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                        


                <div class="row">
					<div class="col-lg-4">
							<div class="card">
								<div class="card-body">
									<div class="year-calendar"></div>
								</div>
							</div>
					</div>

				    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-title">
                                <h4>History </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive m-t-40">
                                    <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th width="10%">ID</th>
                                                <th width="35%">Title</th>
                                                <th width="20%">Topic</th>
                                                <th width="10%">Sender</th>
                                                <th width="10%">Status</th>
                                                <th width="15%">Expired</th>
                                            </tr>
                                        </thead>

                                        <tbody id="list_tk_history">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>

    <script src="{% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'js/jquery.slimscroll.js' %}"></script>

    <!--Menu sidebar -->
    <script src="{% static 'js/sidebarmenu.js' %}"></script>

    <!--stickey kit -->
    <script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>

    <!--Custom JavaScript -->


    <!-- Amchart -->
    <script src="{% static 'js/lib/morris-chart/raphael-min.js' %}"></script>

    <script src="{% static 'js/lib/morris-chart/morris.js' %}"></script>

    <script src="{% static 'js/lib/morris-chart/dashboard1-init.js' %}"></script>



    <script src="{% static 'js/lib/calendar-2/moment.latest.min.js' %}"></script>

    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/semantic.ui.min.js' %}"></script>

    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/prism.min.js' %}"></script>

    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.calendar.min.js' %}"></script>

    <!-- scripit init-->
    <script src="{% static 'js/lib/calendar-2/pignose.init.js' %}"></script>


    <script src="{% static 'js/lib/owl-carousel/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/lib/owl-carousel/owl.carousel-init.js' %}"></script>


    <!-- scripit init-->

    <script src="{% static 'js/scripts.js' %}"></script>

    <script src="{% static 'js/assign.js' %}"></script>




    

{% endblock%}
