{% extends 'agent/base_leader.html' %}
{% block title %}Manage agents{% endblock %}
{% load static %}
{% block content %}
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Manage agents</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Manage agents</li>
            </ol>
        </div>
    </div>

        {% csrf_token %}
    <div class="container-fluid" id="mnag"
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-title">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-title="add" data-target="#topicModal" >
                            <i class="fa fa-plus"></i> Create new agent
                        </button>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered" id="tb1">
                            <thead>
                            <tr>
                                <th width="5%">ID</th>
                                <th width="20%">Full Name</th>
                                <th width="5%">Admin</th>
                                <th width="5%">Status</th>
                                <th width="5%">Department</th>
                                <th width="5%">Process/Done</th>
                                <th width="25%">Topic</th>
                                <th width="30%">Option</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for ag in agent %}
                            <tr>

                                <th scope="row">
                                    <button type="button" class="btn" data-toggle="modal" data-target="#{{ag.id}}content1">{{ag.id}}</button>
                                </th>

                                <td id="full_name{{ag.id}}">{{ag.fullname}}</td>

                                <input type="hidden" id="user_name{{ag.id}}" value="{{ag.fullname}}">

                                <input type="hidden" id="email_agent{{ag.id}}" value="{{ag.email}}">

                                <input type="hidden" id="phone_agent{{ag.id}}" value="{{ag.phone}}">

                                {% if ag.admin == 0 %}
                                    <td><span class="label label-danger">no</span></td>
                                {% else %}
                                    <td><span class="label label-success">yes</span></td>
                                {% endif %}

                                {% if ag.status == 0 %}
                                    <td><span class="label label-danger">inactive</span></td>
                                {% else %}
                                    <td><span class="label label-success">active</span></td>
                                {% endif %}

                                <td id="department{{ag.id}}">{{ag.departmentid.name}}</td>

                                {% for key, value in list_tk %}
                                    {% if key == ag.username %}
                                        <td>{{ value.1 }}/{{ value.0 }}</td>
                                    {% endif %}
                                {% endfor %}
                                {% for key,value in list_tp.items %}
                                    {% if key == ag.username %}
                                    <td>
                                        {% for va in value %}
                                            {{ va }}<br>
                                        {% endfor %}
                                    </td>
                                    {% endif %}
                                {% endfor %}
                                <td>
                                    {% csrf_token %}
                                    {% if ag.admin == 0 %}
                                    <button type="button" class="btn btn-primary close_"  id="{{ag.id}}" data-toggle="tooltip" title="block/unblock">
                                        <i class="fa fa-power-off"></i>
                                    </button>

                                    <button type="button" class="btn btn-danger" id="{{ag.id}}" data-toggle="tooltip" title="delete">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    {% else %}
                                    <button type="button" disabled class="btn btn-primary close_" id="{{ag.id}}" data-toggle="tooltip" title="block/unblock" >
                                        <i class="fa fa-power-off"></i>
                                    </button>

                                    <button type="button" disabled class="btn btn-danger" id="{{ag.id}}" data-toggle="tooltip" title="delete">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                    {% endif %}
                                    <button type="button" class="btn btn-info" data-title="edit" id="{{ag.id}}" data-toggle="modal" data-target="#topicModal">
                                        <i class="fa fa-wrench" data-toggle="tooltip" title="change info"></i>
                                    </button>
                                </td>
                            </tr>
                            
                            <div class="modal" id="{{ag.id}}content1" role="dialog">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{ag.fullname}}</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body form-group" id="ct{{ag.id}}">
                                        <label>Username:</label>
                                        <p><b>{{ag.username}}</b></p><br>
                                        <label>Email:</label>
                                        <p><b>{{ag.email}}</b></p><br>
                                        <label>Phone:</label>
                                        <p><b>{{ag.phone}}</b></p><br>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <div id="topicModal" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add New Agent</h3>
                </div>

                <div class="modal-body form-group">
                    <label for="fullname"><b>Full name</b></label>
                    <input class="inputText form-control" type="text" placeholder="Full name" name="fullname" >

                    <label for="email"><b>Email</b></label>
                    <input class="inputText form-control" type="text" placeholder="Enter Email" name="email">

                    <div id="user_agent">
                    <label for="username"><b>Username</b></label>
                    <input class="inputText form-control" type="text" placeholder="Enter Username" name="username" >
                    </div>

                    <label for="phone"><b>Phone</b></label>
                    <input class="inputText form-control" type="text" placeholder="Enter your phone number" name="phone">

                    <label for="department"><b>Department</b></label><br />
                    <select name="department" class="form-control" id="mySelect">
                        {% for dm in department %}
                        <option value="{{dm.id}}" name="{{dm.name}}">{{dm.name}}</option>
                        {% endfor %}
                    </select>
                    <div id="pwd">
                    <label for="psw"><b>Password</b></label>
                    <input class="inputText form-control" type="password" placeholder="Enter Password" name="password" id="p1" >

                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input class="inputText form-control" type="password" placeholder="Repeat Password" name="password2" id="p2">
                    </div>
                    <input type="hidden" name="agentid" value="">

                </div>

                <div class="modal-footer">
                    <button type="button" id="addAgent" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id = "add_agent_close">Close</button>
                </div>

            </div>
        </div>
    </div>
    <!-- End Container fluid  -->
    <!-- footer -->
    <!-- End footer -->
</div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/manager_agent.js' %}"></script>
{% endblock %}