{% extends 'agent/base.html' %}
{% load static %}
{% block title %}Agent{% endblock %}
{% block js %}  
{% endblock%}
{% block content %}
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Outbox</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active">Outbox</li>
            </ol>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            
            <!-- /# column -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Forward out request </h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover " id="list_ticket_forward_outbox">
                                <thead>
                                    <tr>
                                        <th width="5%">ID</th>
                                        <th width="20">Receive agent</th>
                                        <th width="50%">Message</th>
                                        <th width="10%">Status</th>
                                        <th width="15%">Option</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for tk in forwardout %}
                                    <tr>
                                        <input type="hidden" id="user{{tk.ticketid.id}}" value="{{tk.ticketid.sender.username}}">
                                        <th scope="row">
                                            <button type="button" class="btn" data-toggle="modal" data-target="#{{tk.ticketid.id}}content1">{{tk.ticketid.id}}</button>
                                        </th>

                                        <td id="receive{{tk.id}}">{{tk.receiverid.username}}</td>

                                        <td>{{tk.content}}</td>

                                        {% if tk.ticketid.status == 0 %}
                                        <td><span class="label label-danger">pending</span></td>
                                        {% elif tk.ticketid.status == 1 %}
                                        <td><span class="label label-warning">processing</span></td>
                                        {% elif tk.ticketid.status == 2 %}
                                        <td><span class="label label-success">done</span></td>
                                        {% else %}
                                        <td><span class="label label-default">closed</span></td>
                                        {% endif %}

                                        <td>
                                            <button id="{{tk.id}}" class="cancel_forward btn btn-danger" type="button" data-toggle="tooltip" title="cancel" >
                                                <i class="fa fa-close"></i>
                                            </button>
                                        </td>
                                    </tr>
                            
                                    <div class="modal" id="{{tk.ticketid.id}}content1" role="dialog">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ticket no.{{tk.ticketid.id}}</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body form-group">
                                                <b>Owner:</b>
                                                <p>{{tk.ticketid.sender.fullname}}</p>
                                                <b>Title:</b>
                                                <p>{{tk.ticketid.title}}</p>
                                                <b>Topic:</b>
                                                <p>{{tk.ticketid.topicid.name}}</p>
                                                <b>Content:</b>
                                                <p>{{tk.ticketid.content}}</p>
                                                <b>Date Start:</b>
                                                <p>{{ tk.ticketid.datestart}}</p>
                                                <b>Date End:</b>
                                                <p>{{tk.ticketid.dateend}}</p>
                                                {% if tk.ticketid.attach != '' %}
                                                <b>Attach:</b><br>
                                                    <img src="/media/{{tk.ticketid.attach}}" alt="none" style="max-width:80%;max-height:600px;display: block;margin-left: auto;margin-right: auto;">
                                                    {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <!-- /# column -->

            <div class="col-lg-12">
                <div class="card">
                    <div class="card-title">
                        <h4>Add out request </h4>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover " id="list_ticket_add_outbox">
                            <thead>
                                <tr>
                                    <th width="5%">ID</th>
                                    <th width="20">Receive agent</th>
                                    <th width="50%">Message</th>
                                    <th width="10%">Status</th>
                                    <th width="15%">Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for tk in addout %}
                                    <tr>
                                        <input type="hidden" id="user{{tk.ticketid.id}}" value="{{tk.ticketid.sender.username}}">
                                        <th scope="row">
                                                <button type="button" class="btn" data-toggle="modal" data-target="#{{tk.ticketid.id}}content">{{tk.ticketid.id}}</button>
                                            </th>
    
                                            <td id="receive_{{tk.id}}">{{tk.receiverid.username}}</td>

                                            <td>{{tk.content}}</td>
    
                                            {% if tk.ticketid.status == 0 %}
                                            <td><span class="label label-danger">Pending</span></td>
                                            {% elif tk.ticketid.status == 1 %}
                                            <td><span class="label label-warning">Processing</span></td>
                                            {% elif tk.ticketid.status == 2 %}
                                            <td><span class="label label-success">Done</span></td>
                                            {% else %}
                                            <td><span class="label label-default">Closed</span></td>
                                            {% endif %}
    
                                            <td>
                                                <button id="{{tk.id}}" class="cancel_add btn btn-danger" type="button" data-toggle="tooltip" title="cancel" >
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </td>
                                    </tr>
                                    <div class="modal" id="{{tk.ticketid.id}}content" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Ticket no.{{tk.ticketid.id}}</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body form-group">
                                                <label for="content">Owner:</label>
                                                <p><b>{{tk.ticketid.sender.fullname}}</b></p><br>
                                                <label for="content">Title:</label>
                                                <p><b>{{tk.ticketid.title}}</b></p><br>
                                                <label for="content">Topic:</label>
                                                <p><b>{{tk.ticketid.topicid.name}}</b></p><br>
                                                <label for="content">Content:</label>
                                                <p><b>{{tk.ticketid.content}}</b></p><br>
                                                <label for="datestart">Date Start:</label>
                                                <p><b>{{ tk.ticketid.datestart}}</b></p><br>
                                                <label for="dateend">Date End:</label>
                                                <p><b>{{tk.ticketid.dateend}}</b></p>
                                                {% if tk.ticketid.attach != '' %}
                                                <label for="dateend">Attach:</label>
                                                    <img src="/media/{{tk.ticketid.attach}}" alt="none" style="width:100%;height:100%;">
                                                    {% endif %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /# card -->
            </div>
        </div>
        <!-- /# row -->
        <!-- End PAge Content -->
    </div>
<!-- End Container fluid  -->
<!-- footer -->
<!-- End footer -->
</div>
<!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->

<!-- All Jquery -->
<script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>

<script src="{% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>

<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>

<!--stickey kit -->
<script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>

<!--Custom JavaScript -->
<script src="{% static 'js/scripts.js' %}"></script>

<script src="{% static 'js/outbox.js' %}"></script>

{% endblock%}
