{% extends 'agent/base.html' %}
{% load static %}
{% block title %}Agent{% endblock %}
{% block js %}  
{% endblock%}
{% block content %}
<div class="page-wrapper">
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-primary">Profile</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </div>
    </div>
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-12 toppad  pull-right col-md-offset-3 ">
                <div class="panel panel-info" id="info-agent">
                    <div class="panel-heading">
                        <h3 class="panel-title" id="full_name">{{ agent.fullname }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center">
                                <img alt="User Pic" src="{% static 'images/avatar.png' %}" class="img-circle img-responsive">
                            </div>
                            <div class=" col-md-9 col-lg-9 "> 
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Position</td>
                                            <td>Agent</td>
                                        </tr>
                                        <tr>
                                            <td>Department</td>
                                            <td>{{ agent.departmentid.name }}</td>
                                        </tr>
                                        <tr>
                                            <td>Username</td>
                                            <td>{{ agent.username }}</td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a  id="email_user">{{ agent.email }}</a></td>
                                        </tr>
                                        <tr>
                                            <td>Phone</td>
                                            <td id="phone_user">{{agent.phone}}</td>
                                        </tr>
                                        <tr>
                                            <td>Status</td>
                                            {% if agent.status == 0 %}
                                            <td><span class="label label-danger">inactive</span></td>
                                            {% else %}
                                            <td><span class="label label-success">active</span></td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <td>Receive email</td>
                                            {% if agent.receive_email == 1 %}
                                                <td id="rc_email">Yes</td>
                                            {% else %}
                                                <td id="rc_email">No</td>
                                            {% endif%}
                                        </tr>
                                        <tr>
                                            <td>Handle topic</td>
                                            <td>
                                                {% for tp in topic %}
                                                    {{tp}}<br>
                                                {% endfor %}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            
                                <button type="button" class="btn btn-primary info_agent" id="{{ agent.id }}" data-toggle="modal" data-title="change" data-target="#topicModal" >
                                        <i class="fa fa-wrench"> Change info</i>
                                </button>
                            
                                <button type="button" class="btn btn-primary pwd_agent" id="{{ agent.id }}" data-toggle="modal" data-title="change_pwd" data-target="#topicModal" >
                                        <i class="fa fa-wrench" id="{{agent.password}}" name='pwd_current'> Change password</i>
                                </button>
                            </div>
                            {% csrf_token %}
                            <div id="topicModal" class="modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="title"></h3>
                                        </div>

                                            <div class="modal-body form-group">
                                                <div id="info">
                                                    <label for="fullname"><b>Full name</b></label>
                                                    <input class="inputText form-control" type="text" placeholder="Full name" name="fullname" >

                                                    <label for="email"><b>Email</b></label>
                                                    <input class="inputText form-control" type="text" placeholder="Enter Email" name="email">

                                                    <label for="phone"><b>Phone</b></label>
                                                    <input class="inputText form-control" type="text" placeholder="Enter your phone number" name="phone">
                                                    <br/>
                                                    <input class="inputText" style="transform: scale(2)" type="checkbox" name="receive_mail" > <b>   Receive Email?</b>
                                                </div>

                                                <div id="pwd">
                                                    <label for="psw-current"><b>Current Password</b></label>
                                                    <input class="inputText form-control" type="password" placeholder="Enter current Password" name="current_password">

                                                    <label for="psw"><b>Password</b></label>
                                                    <input class="inputText form-control" type="password" placeholder="Enter new Password" name="password">

                                                    <label for="psw-repeat"><b>Repeat Password</b></label>
                                                    <input class="inputText form-control" type="password" placeholder="Repeat new Password" name="password2">
                                                </div>

                                                <input type="hidden" name="agentid" value="">

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" id="changeuser" class="btn btn-primary">Save</button>
                                                <button type="button" class="btn btn-default" data-dismiss="modal" id = "change_user_close">Close</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Container fluid  -->
<!-- footer -->
<!-- End footer -->
</div>
<!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->

<!-- All Jquery -->
<script src="{% static 'js/lib/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'js/lib/bootstrap/js/popper.min.js' %}"></script>

<script src="{% static 'js/lib/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'js/jquery.slimscroll.js' %}"></script>

<!--Menu sidebar -->
<script src="{% static 'js/sidebarmenu.js' %}"></script>

<!--stickey kit -->
<script src="{% static 'js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>

<!--Custom JavaScript -->
<script src="{% static 'js/scripts.js' %}"></script>

<script src="{% static 'js/detail_agent.js' %}"></script>

{% endblock%}
