<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/mess.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <title>Close ticket</title>
</head>
<body>
    <div class="header">
        <nav class="main-menu">
				<ul>
					<li><a href="{% url 'agent:home_agent' %}">Home</a></li>
                    <li><a href="{% url 'agent:inbox' %}">Inbox</a></li>
                    <li><a href="{% url 'agent:outbox' %}">Outbox</a></li>
                    <li><a href="{% url 'agent:processing_ticket' %}">Processing ticket</a></li>
                    <li><a href="{% url 'agent:closed_ticket' %}">Closed ticket</a></li>
                    <li><a href="{% url 'agent:manage_user' %}">Manage user</a></li>
                    <li><a href="{% url 'agent:logout' %}">Logout</a></li>
				</ul>
		</nav>
    </div>
    <br />
    <br />
    <br />
    <div>
        <h2>Closed tickets</h2>
        <table class="table table-striped table-bordered">
			<tr>
				<td>ID</td>
				<td>Title</td>
                <td>Date created</td>
                <td>Date expired</td>
			</tr>
            {% for tk in ticket %}
            <tr>
                <td>{{tk.ticketid.id}}</td>
                <td>{{tk.ticketid.title}}</td>
                <td>{{tk.ticketid.datestart}}</td>
                <td>{{tk.ticketid.dateend}}</td>
            </tr>
            {% endfor%}
		</table>
    </div>
</body>
</html>