<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agent</title>
</head>
<body>
    <div>
        <a href="{% url 'agent:processing_ticket' %}">Processing ticket</a>
        <a href="{% url 'agent:forward_ticket' %}">Forward ticket</a>
        <a href="{% url 'agent:closed_ticket' %}">Closed ticket</a>
        <a href="{% url 'agent:logout' %}">Logout</a>
    </div>
    <div>
        <h2>Hi {{agent.fullname}}({{agent.id}})</h2>
        <h2>Open tickets</h2>
        <table border="1" cellpadding="10" cellspacing="5">
			<tr>
				<td>ID</td>
				<td>Title</td>
                <td>Date created</td>
                <td>Date expired</td>
                <td>Status</td>
                <td>Assign</td>
			</tr>
            {% for tk in ticket %}
            <tr>
                <td>{{tk.id}}</td>
                <td>{{tk.title}}</td>
                <td>{{tk.datestart}}</td>
                <td>{{tk.dateend}}</td>
                <td>pending...</td>
                <td>
                    <form >
                        <button id="assign_{{forloop.counter}}" type="button">Assign</button>
                    </form>
                </td>
            </tr>
            <script type="text/javascript">
            var btn = document.getElementById("assign_{{forloop.counter}}");
            btn.onclick = function(){
                if(confirm("Are you sure ?")){
                    location.href="{% url 'agent:assign_ticket' tk.id %}"
                }
            };
            </script>
            {% endfor%}
		</table>
    </div>
</body>
</html>