{% extends 'agent/base.html' %}
{% block lib %}
{% endblock%}
{% block title %}Inbox{% endblock %}
{% block content %}
<h2>Forward in request</h2>
        <table class="table table-striped table-bordered" >
			<tr>
				<td>ID ticket</td>
                <td>Agent order</td>
                <td>Message</td>
                <td>Ticket Status</td>
                <td>Accept</td>
                <td>Deny</td>
			</tr>
            {% for tk in forwardin %}
            <tr>
                <td>
                    <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#{{tk.ticketid.id}}content1">{{tk.ticketid.id}}</button>
                </td>
                <td>{{tk.senderid.fullname}}</td>
                <td>{{tk.content}}</td>
                {% if tk.ticketid.status == 1 %}
                <td>processing...</td>
                {% else %}
                <td>done</td>
                {% endif %}
                <td>
                    <form>
                        <button id="accept_{{forloop.counter}}" type="button">Accept</button>
                    </form>
                    <script type="text/javascript">
                        var btn = document.getElementById("accept_{{forloop.counter}}");
                        btn.onclick = function(){
                            if(confirm("Are you sure ?")){
                                location.href="{% url 'agent:accept_forward' tk.ticketid.id %}"
                            }
                        };
                    </script>
                </td>
                <td>
                    <form >
                        <button id="deny_{{forloop.counter}}" type="button">Deny</button>
                    </form>
                    <script type="text/javascript">
                        var btn = document.getElementById("deny_{{forloop.counter}}");
                        btn.onclick = function(){
                            if(confirm("Are you sure ?")){
                                location.href="{% url 'agent:deny_forward' tk.ticketid.id %}"
                            }
                        };
                    </script>
                </td>
            </tr>
            <div class="modal fade" id="{{tk.ticketid.id}}content1" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Ticket no.{{tk.ticketid.id}}</h4>
                        </div>
                        <div class="modal-body form-group">
                            <label for="content">Owner:</label>
                            <p><b>{{tk.ticketid.sender.fullname}}</b></p><br>
                            <label for="content">Title:</label>
                            <p><b>{{tk.ticketid.title}}</b></p><br>
                            <label for="content">Topic:</label>
                            <p><b>{{tk.ticketid.topicid.name}}</b></p><br>
                            <label for="content">Content:</label>
                            <p><b>{{tk.ticketid.content}}</b></p><br>
                            <label for="datestart">Date Start:</label>
                            <p><b>{{ tk.ticketid.datestart}}</b></p><br>
                            <label for="dateend">Date End:</label>
                            <p><b>{{tk.ticketid.dateend}}</b></p>
                            {% if tk.ticketid.attach != '' %}
                            <label for="dateend">Attach:</label>
                             <img src="/media/{{tk.ticketid.attach}}" alt="none" style="width:100%;height:100%;">
                             {% endif %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor%}
		</table>
        <h2>Add in request</h2>
        <table class="table table-striped table-bordered" >
			<tr>
				<td>ID ticket</td>
                <td>Agent order</td>
                <td>Message</td>
                <td>Ticket Status</td>
                <td>Accept</td>
                <td>Deny</td>
			</tr>
            {% for tk in addin %}
            <tr>
                <td>
                    <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#{{tk.ticketid.id}}content">{{tk.ticketid.id}}</button>
                </td>
                <td>{{tk.senderid.fullname}}</td>
                <td>{{tk.content}}</td>
                {% if tk.ticketid.status == 1 %}
                <td>processing...</td>
                {% else %}
                <td>done</td>
                {% endif %}
                <td>
                    <form >
                        <button id="accept1_{{forloop.counter}}" type="button">Accept</button>
                    </form>
                    <script type="text/javascript">
                        var btn = document.getElementById("accept1_{{forloop.counter}}");
                        btn.onclick = function(){
                            if(confirm("Are you sure ?")){
                                location.href="{% url 'agent:accept_add' tk.ticketid.id %}"
                            }
                        };
                    </script>
                </td>
                <td>
                    <form >
                        <button id="deny1_{{forloop.counter}}" type="button">Deny</button>
                    </form>
                    <script type="text/javascript">
                        var btn = document.getElementById("deny1_{{forloop.counter}}");
                        btn.onclick = function(){
                            if(confirm("Are you sure ?")){
                                location.href="{% url 'agent:deny_add' tk.ticketid.id %}"
                            }
                        };
                    </script>
                </td>
            </tr>
            <div class="modal fade" id="{{tk.ticketid.id}}content" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Chi tiết</h4>
                        </div>
                        <div class="modal-body form-group">
                            <label for="content">Content:</label>
                            <p><b>{{tk.ticketid.content}}</b></p><br>
                            <label for="datestart">Date Start:</label>
                            <p><b>{{ tk.ticketid.datestart}}</b></p><br>
                            <label for="dateend">Date End:</label>
                            <p><b>{{tk.ticketid.dateend}}</b></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
            </div>
            {% endfor%}
		</table>
    </div>
{% endblock %}
