<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/mess.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
    <title>Processing ticket</title>
</head>
<body>
    <div>
        <a href="{% url 'agent:home_agent' %}">Home</a>
        <a href="{% url 'agent:forward_ticket' %}">Forward ticket</a>
        <a href="{% url 'agent:closed_ticket' %}">Closed ticket</a>
        <a href="{% url 'agent:logout' %}">Logout</a>
    </div>
    <div>
        <h2>Processing tickets</h2>
        <table border="1" cellpadding="10" cellspacing="5">
			<tr>
				<td>ID</td>
				<td>Title</td>
                <td>Date created</td>
                <td>Date expired</td>
                <td>Status</td>
                <td>Handle</td>
                <td>Forward</td>
                <td>Add agent</td>
			</tr>
            {% for tk in ticket %}
            <tr>
                <td>{{tk.ticketid.id}}</td>
                <td>{{tk.ticketid.title}}</td>
                <td>{{tk.ticketid.datestart}}</td>
                <td>{{tk.ticketid.dateend}}</td>
                {% if tk.ticketid.status == 1 %}
                <td>processing...</td>
                <td>
                    <form >
                        <button id="done_{{forloop.counter}}" type="button">Done</button>
                    </form>
                    <script type="text/javascript">
                        var btn = document.getElementById("done_{{forloop.counter}}");
                        btn.onclick = function(){
                            if(confirm("Are you sure ?")){
                                location.href="{% url 'agent:done' tk.ticketid.id %}"
                            }
                        };
                    </script>
                </td>
                {% else %}
                <td>done</td>
                <td>
                    <form >
                        <button id="processing_{{forloop.counter}}" type="button">Processing</button>
                    </form>
                    <script type="text/javascript">
                        var btn = document.getElementById("processing_{{forloop.counter}}");
                        btn.onclick = function(){
                            if(confirm("Are you sure ?")){
                                location.href="{% url 'agent:process' tk.ticketid.id %}"
                            }
                        };
                    </script>
                </td>
                {% endif %}
                <td>
                    <button id="forward_{{forloop.counter}}" onclick="document.getElementById('id01').style.display='block';document.getElementById('tkid').value = {{ tk.ticketid.id }}" style='width:auto;'>Forward</button>
                </td>
                <td><button>Add</button></td>
            </tr>
            {% endfor%}
		</table>
    </div>
    <div id="id01" class="modal">
                    <form class="modal-content animate" action="" method="POST">
                    {% csrf_token %}
                    <div class="imgcontainer">
                        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    </div>
                    <div class="container">
                        <input id="tkid" type="hidden" name="ticketid" >
                        <label for="content"><b>Content</b></label>
                        <br />
                        {{form.content}}
                        <br />
                        <label for="receiver"><b>Receiver</b></label>
                        <br />
                        {{form.receiver }}
                        <br />
                        <button type="submit" value="OK" >Forward</button>
                    </div>
                    </form>
                </div>
    <script src="{% static 'js/login.js' %}"></script>
    <script src="{% static 'js/validate.js' %}"></script>
</body>
</html>