<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/detail_user.js' %}"></script>
    <title>Profile</title>
</head>
<body>
<div class="header">
        <nav class="main-menu">
				<ul>
                    <li><a href="{% url 'agent:home_agent' %}">Home</a></li>
                    <li><a href="{% url 'agent:inbox' %}">Inbox</a></li>
                    <li><a href="{% url 'agent:outbox' %}">Outbox</a></li>
                    <li><a href="{% url 'agent:processing_ticket' %}">Processing ticket</a></li>
                    <li><a href="{% url 'agent:closed_ticket' %}">Closed ticket</a></li>
                    <li><a href="{% url 'agent:manage_user' %}">Manage user</a></li>
                    <li><a href="{% url 'agent:profile' %}">Profile</a></li>
                    <li><a href="{% url 'agent:logout' %}">Logout</a></li>
				</ul>
		</nav>
    </div>
    <br />
    <br />
    <br />
<div class="container" id="info_user">
        <h2>Profile</h2>
        <table class="table table-striped table-bordered">
            <tr>
                <td>Fullname</td>
                <td>{{ agent.fullname }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ agent.email }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ agent.phone }}</td>
            </tr>
            <tr>
                <td>Status</td>
                {% if agent.status == 1 %}
                <td>Enable</td>
                {% endif %}
            </tr>
            <tr>
                <td>Receive email</td>
                {% if agent.receive_email == 0 %}
                <td>No</td>
                {% else %}
                <td>Yes</td>
                {% endif %}
            </tr>
    </table>
    <button type="button" class="btn btn-success" id="{{ agent.id }}" data-toggle="modal" data-title="change" data-target="#topicModal" >
            <span class="glyphicon glyphicon-wrench">Change info</span>
    </button>

    <button type="button" class="btn btn-danger" id="{{ agent.id }}" data-toggle="modal" data-title="change_pwd" data-target="#topicModal" >
            <span class="glyphicon glyphicon-wrench" id="{{agent.password}}" name='pwd_current'>Change password</span>
    </button>
    </div>
{% csrf_token %}
<div id="topicModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" style= "color: red";><strong id="title"></strong></h3>
            </div>

                <div class="modal-body form-group">
                    <div id="info">
                        <label for="fullname"><b>Full name</b></label>
                        <input class="inputText" type="text" placeholder={{agent.fullname}} name="fullname" >

                        <label for="email"><b>Email</b></label>
                        <input class="inputText" type="text" placeholder="{{agent.email}}" name="email">

                        <label for="phone"><b>Phone</b></label>
                        <input class="inputText" type="text" placeholder="{{agent.phone}}" name="phone">

                        <label for="receive"><b>Receive email</b></label>
                        <input class="inputText" type="text" placeholder="{{agent.phone}}" name="receive_email">
                    </div>

                    <div id="pwd">
                        <label for="psw-current"><b>Current Password</b></label>
                        <input class="inputText" type="password" placeholder="Enter current Password" name="current_password">

                        <label for="psw"><b>Password</b></label>
                        <input class="inputText" type="password" placeholder="Enter new Password" name="password">

                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input class="inputText" type="password" placeholder="Repeat new Password" name="password2">
                    </div>

                    <input type="hidden" name="userid" value="">

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id = "change_user_close">Close</button>
                    <button type="button" id="changeuser" class="btn btn-success">Save</button>
                </div>

        </div>
    </div>
</div>
</body>
</html>
