{% extends 'agent/base_leader.html' %}
{% block title %} Dashboard {% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">Dashboard</h3> </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-envelope f-s-35 color-primary"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ tk_open }}</h2>
                                    <p class="m-b-0">Ticket Pending</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-envelope-open f-s-40 color-success"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ tk_processing }}</h2>
                                    <p class="m-b-0">Ticket Processing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-check-square-o f-s-40 color-warning"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ tk_done}}</h2>
                                    <p class="m-b-0">Ticket Done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card p-30">
                            <div class="media">
                                <div class="media-left meida media-middle">
                                    <span><i class="fa fa-user f-s-40 color-danger"></i></span>
                                </div>
                                <div class="media-body media-text-right">
                                    <h2>{{ agent_total }}</h2>
                                    <p class="m-b-0">Total Agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- Container fluid  -->
                {% csrf_token %}
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-title">
                                Tickets
                            </div>
                            <div class="card-body">
                                <table  class="table display table-bordered table-striped" id="list_ticket_leader">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Topic</th>
                                        <th>Sender</th>
                                        <th>Status</th>
                                        <th>Handler</th>
                                        <th>Option</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for tk in ticket %}
                                    <tr>
                                        <td>
                                            <button type="button" class="btn" data-toggle="modal" data-target="#{{tk.id}}content">{{ tk.id}}</button>
                                        </td>

                                        <td>{{tk.title}}</td>

                                        <td>{{tk.topicid.name}}</td>

                                        <td id="sender{{tk.id}}">{{tk.sender.username}}</td>

                                        {% if tk.status == 0 %}
                                        <td><span class="label label-danger" id="leader{{tk.id}}">pending</span></td>
                                        {% elif tk.status == 1 %}
                                        <td><span class="label label-warning" id="leader{{tk.id}}">processing</span></td>
                                        {% elif tk.status == 2 %}
                                        <td><span class="label label-success" id="leader{{tk.id}}">done</span></td>
                                        {% else %}
                                        <td><span class="label label-default" id="leader{{tk.id}}">closed</span></td>
                                        {% endif %}

                                        {% if tk.status == 0 %}
                                            <td id="hd{{tk.id}}">Nobody</td>
                                        {% else %}
                                            <td id="hd{{tk.id}}">
                                                {% for hd in handler %}
                                                    {% if hd.ticketid == tk %}
                                                        {{hd.agentid.username}}<br>
                                                    {% endif%}
                                                {% endfor%}
                                            </td>
                                        {% endif %}

                                        <td>

                                            <button type="button" class="btn btn-primary" id="{{tk.id}}" data-toggle="tooltip" title="open/close">
                                                <i class="fa fa-power-off"></i>
                                            </button>

                                            <button type="button" class="btn btn-danger" id="{{tk.id}}" data-toggle="tooltip" title="delete">
                                                <i class="fa fa-trash-o"></i>
                                            </button>

                                            <button type="button" class="btn btn-info" data-title="forward" id="{{tk.id}}"data-toggle="modal" data-target="#forward_modal">
                                                <i class="fa fa-share-square-o" data-toggle="tooltip" title="forward" ></i>
                                            </button>

                                            <a type="button" class="btn btn-warning" href="{% url 'agent:history' tk.id %}" data-toggle="tooltip" title="history">
                                                <i class="fa fa-history"></i>
                                            </a>
                                        </td>

                                    </tr>

                                    <div class="modal" id="{{tk.id}}content" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
                                                    <h4 class="modal-title">Ticket no.{{tk.id}}</h4>
                                                </div>
                                                <div class="modal-body form-group">
                                                    <label for="content">Title:</label>
                                                    <p><b>{{tk.title}}</b></p>
                                                    <label for="content">Topic:</label>
                                                    <p><b>{{tk.topicid.name}}</b></p>
                                                    <label for="content">Content:</label>
                                                    <p><b>{{tk.content}}</b></p>
                                                    <label for="datestart">Date Start:</label>
                                                    <p><b>{{ tk.datestart}}</b></p>
                                                    <label for="dateend">Date End:</label>
                                                    <p><b>{{tk.dateend}}</b></p>
                                                    <br/>
                                                    {% if tk.attach != '' %}
                                                    <label for="dateend">Attach:</label>
                                                    <img src="/media/{{tk.attach}}" alt="none" style="width:100%;height:100%;">
                                                    {% endif %}
                                                </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <div id="forward_modal" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" style= "color: red";><strong> Agent List</strong></h3>
                        </div>
                        <div class="modal-body form-group">
                            {% for agent in agent %}
                                <input class="inputText" type="checkbox" name="{{ agent.username }}" > {{ agent.username }} <br>
                            {% endfor%}
                            <input type="hidden" name="ticketid" value="">
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default closefd" data-dismiss="modal" id = "forward_ticket_close">Close</button>
                            <button type="button" class="btn btn-success forward_ticket">Forward</button>
                            <center class="loading" hidden><i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i></center>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
            <!-- End footer -->
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/home_admin.js' %}"></script>
    <script src="{% static 'js/lib/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/lib/datatables/datatables-init.js' %}"></script>
    <script>
    $(function () {
        $('#list_ticket_leader').DataTable();
    })
    </script>
{% endblock %}