{% extends 'agent/base.html' %}
{% block title %}Manage user{% endblock %}
{% block content %}
<div>
        <h2>User</h2>
        <table class="table table-striped table-bordered" >
			<tr>
				<td>ID</td>
				<td>Fullname</td>
                <td>Email</td>
                <td>Username</td>
                <td>Status</td>
                <td>Created</td>
                <td>Option</td>
			</tr>
            {% for tk in user %}
            <tr>
                <td>{{tk.id}}</td>
                <td>{{tk.fullname}}</td>
                <td>{{tk.email}}</td>
                <td>{{tk.username}}</td>
                {% if tk.status == 0 %}
                <td><span class="label label-danger">inactive</span></td>
                <td>{{tk.created}}</td>
                <td>
                    <button id="manage_user/1_{{tk.id}}" class="unblock btn btn-success" type="button" data-toggle="tooltip" title="unblock" >
                        <span class="glyphicon glyphicon glyphicon-ok" ></span> Unblock
                    </button>
                </td>
                {% else %}
                <td><span class="label label-success">active</span></td>
                <td>{{tk.created}}</td>
                <td>
                    <button id="manage_user/0_{{tk.id}}" class="block btn btn-danger" type="button" data-toggle="tooltip" title="block" >
                        <span class="glyphicon glyphicon-lock" ></span> Block
                    </button>
                </td>
                {% endif %}
            </tr>
            {% endfor%}
		</table>
    </div>
<script>
   $(document).ready(function(){
       $("#info_user").on('click', '.unblock', function(){
           var id = $(this).attr('id');
           if(confirm("Are you sure ?")){
               location.href="/agent/"+id;
           }
       });
       $("#info_user").on('click', '.block', function(){
           var id = $(this).attr('id');
           if(confirm("Are you sure ?")){
               location.href="/agent/"+id;
           }
       });
   });
</script>
{% endblock %}
