{% extends 'agent/base.html' %}
{% block title %}Manage user{% endblock %}
{% block content %}
<div>
        <h2>User</h2>
        <table class="table table-striped table-bordered" >
			<tr>
				<td>ID</td>
				<td>Fullname</td>
                <td>Email</td>
                <td>Username</td>
                <td>Status</td>
                <td>Created</td>
                <td>Block</td>
			</tr>
            {% for tk in user %}
            <tr>
                <td>{{tk.id}}</td>
                <td>{{tk.fullname}}</td>
                <td>{{tk.email}}</td>
                <td>{{tk.username}}</td>
                {% if tk.status == 0 %}
                <td>inactive</td>
                <td>{{tk.created}}</td>
                <td>
                    <form >
                        <button id="unblock_{{forloop.counter}}" type="button">Unblock</button>
                    </form>
                    <script type="text/javascript">
                        var btn = document.getElementById("unblock_{{forloop.counter}}");
                        btn.onclick = function(){
                            if(confirm("Are you sure ?")){
                                location.href="{% url 'agent:unblock_user' tk.id %}"
                            }
                        };
                    </script>
                </td>
                {% else %}
                <td>active</td>
                <td>{{tk.created}}</td>
                <td>
                    <form >
                        <button id="block_{{forloop.counter}}" type="button">Block</button>
                    </form>
                    <script type="text/javascript">
                        var btn = document.getElementById("block_{{forloop.counter}}");
                        btn.onclick = function(){
                            if(confirm("Are you sure ?")){
                                location.href="{% url 'agent:block_user' tk.id %}"
                            }
                        };
                    </script>
                </td>
                {% endif %}
            </tr>
            {% endfor%}
		</table>
    </div>
{% endblock %}
