{% extends 'agent/base.html' %}
{% block lib %}
{% endblock%}
{% block title %}Outbox{% endblock %}
{% block content %}
{% csrf_token %}
<div style="float:left;width:45%;">
    <h2>Forward out request</h2>
        <table class="table table-striped table-bordered" id="list_ticket_forward_outbox">
			<tr>
				<td>ID</td>
				<td>Received Agent</td>
                <td>Message</td>
                <td>Ticket Status</td>
                <td>Date expired</td>
                <td>Option</td>
			</tr>
            {% for tk in forwardout %}
            <tr>
                <td>
                    <button type="button" class="btn" data-toggle="modal" data-target="#{{tk.ticketid.id}}content1">{{tk.ticketid.id}}</button>
                </td>
                <td id="receive{{tk.id}}">{{tk.receiverid.username}}</td>
                <td>{{tk.content}}</td>
                {% if tk.ticketid.status == 0 %}
                <td><span class="label label-danger">pending</span></td>
                {% elif tk.ticketid.status == 1 %}
                <td><span class="label label-warning">processing</span></td>
                {% elif tk.ticketid.status == 2 %}
                <td><span class="label label-success">done</span></td>
                {% else %}
                <td><span class="label label-default">closed</span></td>
                {% endif %}
                <td>{{tk.ticketid.dateend}}</td>
                <td>
                    <button id="{{tk.id}}" class="cancel_forward btn btn-danger" type="button" data-toggle="tooltip" title="cancel" >
                        <span class="glyphicon glyphicon-remove" ></span>
                    </button>
            </tr>
            <div class="modal fade" id="{{tk.ticketid.id}}content1" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Ticket no.{{tk.ticketid.id}}</h4>
                        </div>
                        <div class="modal-body form-group">
                            <label for="content">Owner:</label>
                            <p><b>{{tk.ticketid.sender.fullname}}</b></p><br>
                            <label for="content">Title:</label>
                            <p><b>{{tk.ticketid.title}}</b></p><br>
                            <label for="content">Topic:</label>
                            <p><b>{{tk.ticketid.topicid.name}}</b></p><br>
                            <label for="content">Content:</label>
                            <p><b>{{tk.ticketid.content}}</b></p><br>
                            <label for="datestart">Date Start:</label>
                            <p><b>{{ tk.ticketid.datestart}}</b></p><br>
                            <label for="dateend">Date End:</label>
                            <p><b>{{tk.ticketid.dateend}}</b></p>
                            {% if tk.ticketid.attach != '' %}
                             <label for="dateend">Attach:</label>
                             <img src="/media/{{tk.ticketid.attach}}" alt="none" style="width:100%;height:100%;">
                             {% endif %}
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
            {% endfor%}
		</table>
</div>
<div style="float:right;width:45%;">
        <h2>Add out request</h2>
        <table class="table table-striped table-bordered" id="list_ticket_add_outbox">
			<tr>
				<td>ID</td>
				<td>Received Agent</td>
                <td>Message</td>
                <td>Ticket Status</td>
                <td>Date expired</td>
                <td>Cancel</td>
			</tr>
            {% for tk in addout %}
            <tr>
                <td>
                    <button type="button" class="btn" data-toggle="modal" data-target="#{{tk.ticketid.id}}content">{{tk.ticketid.id}}</button>
                </td>
                <td id="receive_{{tk.id}}">{{tk.receiverid.username}}</td>
                <td>{{tk.content}}</td>
                {% if tk.ticketid.status == 0 %}
                <td><span class="label label-danger">pending</span></td>
                {% elif tk.ticketid.status == 1 %}
                <td><span class="label label-warning">processing</span></td>
                {% elif tk.ticketid.status == 2 %}
                <td><span class="label label-success">done</span></td>
                {% else %}
                <td><span class="label label-default">closed</span></td>
                {% endif %}
                <td>{{tk.ticketid.dateend}}</td>
                <td>
                    <button id="{{tk.id}}" class="cancel_add btn btn-danger" type="button" data-toggle="tooltip" title="cancel" >
                        <span class="glyphicon glyphicon-remove" ></span>
                    </button>
                </td>
            </tr>
            <div class="modal fade" id="{{tk.ticketid.id}}content" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Chi tiết</h4>
                        </div>
                        <div class="modal-body form-group">
                            <label for="content">Content:</label>
                            <p><b>{{tk.ticketid.content}}</b></p><br>
                            <label for="datestart">Date Start:</label>
                            <p><b>{{ tk.ticketid.datestart}}</b></p><br>
                            <label for="dateend">Date End:</label>
                            <p><b>{{tk.ticketid.dateend}}</b></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
            </div>
            {% endfor%}
		</table>
    </div>
<script>    

   $(document).ready(function(){
       $("#info_user").on('click', '.cancel_forward', function(){
           var id = $(this).attr('id');
           var token = $("input[name=csrfmiddlewaretoken]").val();
           var date = formatAMPM(new Date());
           var receive = $('body #receive'+id).html();
           
           if(confirm("Are you sure ?")){
                $.ajax({
                    type:'POST',
                    url:location.href,
                    data: {'tkid':id, 'csrfmiddlewaretoken':token, 'forward': 'forward'},
                    success: function(){
                        $("#info_user").load(location.href + " #info_user");
                        message = ['cancle_forward', receive]
                        group_agent_Socket.send(JSON.stringify({
                            'message' : message,
                            'time' : date
                        }));
                    }
                });
           }
       });
       $("#info_user").on('click', '.cancel_add', function(){
           var id = $(this).attr('id');
           var token = $("input[name=csrfmiddlewaretoken]").val();
           var receive = $('body #receive_'+id).html();
           var date = formatAMPM(new Date());
           if(confirm("Are you sure ?")){
                $.ajax({
                    type:'POST',
                    url:location.href,
                    data: {'tkid':id, 'csrfmiddlewaretoken':token, 'add': 'add'},
                    success: function(){
                        $("#info_user").load(location.href + " #info_user");
                        message = ['cancle_add', receive]
                        group_agent_Socket.send(JSON.stringify({
                            'message' : message,
                            'time' : date
                        }));
                    }
                });
           }
       });
   });
</script>
{% endblock %}