{% extends 'agent/base.html' %}
{% load staticfiles %}
{% block title %}Processing ticket{% endblock %}
{% block content %}
<div id="list_ticket_processing">
    <h2>Processing tickets</h2>
    <table class="table table-striped table-bordered" >
        <tr>
            <td>ID</td>
            <td>Title</td>
            <td>Handler</td>
            <td>Status</td>
            <td>Date created</td>
            <td>Option</td>
        </tr>
        {% csrf_token %}            
        {% for tk in ticket %}
        <tr>
            <td>
                <button type="button" class="btn" data-toggle="modal" data-target="#{{tk.id}}content">{{tk.id}}</button>
            </td>
            <td>{{tk.title}}</td>

            <td id="hd{{tk.id}}">
                {% for key, value in agc.items %}
                    {% if key == tk.id %}
                        {% for val in value %}
                            {{val}},
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </td>
            {% if tk.status == 1 %}
            <td><span class="label label-warning">processing</span></td>
            {% else %}
            <td><span class="label label-success">done</span></td>

            {% endif %}
            <td>{{tk.datestart}}</td>
            <td>
                {% if tk.status == 1 %}
                <button id="{{tk.id}}" type="button" class="btn btn-success handle_done" data-toggle="tooltip" title="done" >
                    <span class="glyphicon glyphicon-ok" ></span>
                </button>
                <input type="hidden" id="user{{tk.id}}" value="{{tk.sender.username}}">
                {% else %}
                <button id="{{tk.id}}" type="button" class="btn btn-success handle_processing" data-toggle="tooltip" title="process" >
                    <span class="glyphicon glyphicon-wrench" ></span>
                </button>
                <input type="hidden" id="user{{tk.id}}" value="{{tk.sender.username}}">
                {% endif %}
                
                <a href="javascript:register_popup_agent('chat{{tk.id}}', {{tk.id}}, '{{tk.sender.username}}');" type="button" class="btn btn-primary" data-toggle="tooltip" title="conversation" id="chat_with_user">
                    <span class="glyphicon glyphicon-comment" ></span>
                    <div class="notify">
                        <span class="point2 noti_chat{{tk.id}}"></span>
                    </div>
                    <input type="hidden" value="{{tk.id}}"/>
                </a>
                <button id="{{tk.id}}" type="button" class="btn btn-info fw_agent" data-toggle="modal" data-title="forward" data-target="#forward_add">
                    <span class="glyphicon glyphicon-share" data-toggle="tooltip" title="forward" ></span>
                </button>

                <button id="{{tk.id}}" type="button" class="btn btn-info add_agent" data-toggle="modal" data-title="add" data-target="#forward_add">
                    <span class="glyphicon glyphicon-plus" data-toggle="tooltip" title="add" ></span>
                </button>
                {% for key,value in gua.items %}
                    {% if key == tk.id %}
                        {% if value == 'yes' %}
                <button id="{{tk.id}}" type="button" class="btn btn-danger give_up" data-toggle="tooltip" title="give up" >
                    <span class="glyphicon glyphicon-alert" ></span>
                </button>
                        {% else %}
                <button id="{{tk.id}}" disabled type="button" class="btn btn-danger give_up" data-toggle="tooltip" title="give up" >
                    <span class="glyphicon glyphicon-alert" ></span>
                </button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <a href="{% url 'agent:history' tk.id %}" type="button" class="btn btn-warning" data-toggle="tooltip" title="history" >
                    <span class="glyphicon glyphicon-floppy-disk" ></span>
                </a>
            </td>
        </tr>
        <div class="modal fade" id="{{tk.id}}content" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Ticket no.{{tk.id}}</h4>
                    </div>
                    <div class="modal-body form-group">
                        <label>Owner:</label>
                        <p><b>{{tk.sender.fullname}}</b></p><br>
                        <label>Title:</label>
                        <p><b>{{tk.title}}</b></p><br>
                        <label>Topic:</label>
                        <p><b>{{tk.topicid.name}}</b></p><br>
                        <label>Content:</label>
                        <p><b>{{tk.content}}</b></p><br>
                        <label>Date Start:</label>
                        <p><b>{{ tk.datestart}}</b></p><br>
                        <label>Date End:</label>
                        <p><b>{{tk.dateend}}</b></p>
                        {% if tk.attach != '' %}
                        <label>Attach:</label>
                        <img src="/media/{{tk.attach}}" alt="none" style="width:100%;height:100%;">
                         {% endif %}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
    
        {% endfor%}
		</table>
</div>

<div class="modal fade forward-add" id="forward_add" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="title"></h4>
            </div>
             <div class="modal-body form-group">
                     <label><b>Content</b></label>
                     <br />
                     <textarea class="form-control" type="text" placeholder="Enter content" id="content" required></textarea>
                     <br />
                     <label><b>Receiver</b></label>
                     <br />
                     {% for agent in agent %}
                        <div id="{{ agent.username }}">
                            <input class="inputText" type="checkbox" name="{{ agent.username }}" > {{ agent.username }} <br>
                        </div>
                        {% endfor%}
                        <br>
                        <input type="hidden" name="ticketid" value="">
                     <button type="submit" class="btn btn-info" value="OK" id="fw_add"><span class="glyphicon glyphicon-share"></span>Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close_fw_add">Close</button>
             </div>
        </div>
    </div>
</div>

<script type="text/javascript" >
    $(document).ready(function(){

        $('body').on('click', '.fw_agent', function(){
            var tkid = $(this).attr('id');
            $("body input[name=ticketid]").val(tkid);
            $("body #content").val('');
            $('body #title').html("Forward ticket no."+tkid+" to agents")
            var array = $('body #hd'+tkid).html().split(",");
            var list_agent = [];
            $('body #forward_add input:checkbox').each(function() {
                list_agent.push(this.name);
                $(this).parent().show();
                
            });
            for (i = 0; i < array.length-1; i++) {
                var value = $.inArray(array[i].replace(/\s/g,''), list_agent)
                if (value > -1){
                    $('div[id='+array[i].replace(/\s/g,'')+']').hide();
                }
            }
            
        });

        $('body').on('click', '.add_agent', function(){
            var tkid = $(this).attr('id');
            $("body input[name=ticketid]").val(tkid);
            $("body #content").val('');
            $('body #title').html("Add ticket no."+tkid+" to agents")
            var array = $('body #hd'+tkid).html().split(",");
            var list_agent = [];
            $('body #forward_add input:checkbox').each(function() {
                list_agent.push(this.name);
                $(this).parent().show();
            });
            for (i = 0; i < array.length-1; i++) {
                var value = $.inArray(array[i].replace(/\s/g,''), list_agent)
                if (value > -1){
                    $('div[id='+array[i].replace(/\s/g,'')+']').hide();
                }
            }
        });

        $('body').on('click', '#fw_add', function(){
            var title = $('body #title').html();
            var content = $("body #content").val();
            var token = $("input[name=csrfmiddlewaretoken]").val();
            var tkid = $("body input[name=ticketid]").val();
            var list_agent = [];
            $('body #forward_add input:checkbox').each(function() {
                if ($(this).is(":checked")){
                    list_agent.push(this.name);
                }
            });
            if (title.includes('Forward')){
                $.ajax({
                    type:'POST',
                    url:location.href,
                    data: {'list_agent[]': JSON.stringify(list_agent),'csrfmiddlewaretoken':token, 'ticketid': tkid, 'content': content, 'type': 'forward_agent'},
                    success: function(){
                        var date = formatAMPM(new Date());
                        document.getElementById("close_fw_add").click();
                        list_agent.push('forward_new');
                        group_agent_Socket.send(JSON.stringify({
                            'message' : list_agent,
                            'time' : date
                        }));
                                }
                });
            }else{
                $.ajax({
                    type:'POST',
                    url:location.href,
                    data: {'list_agent[]': JSON.stringify(list_agent),'csrfmiddlewaretoken':token, 'ticketid': tkid, 'content': content, 'type': 'add_agent'},
                    success: function(){
                        var date = formatAMPM(new Date());
                        document.getElementById("close_fw_add").click();
                        list_agent.push('add_new');
                        group_agent_Socket.send(JSON.stringify({
                            'message' : list_agent,
                            'time' : date
                        }));
                    }
                });
            }
        });

        

    });
</script>
<script>
   $(document).ready(function(){
        $("body").on('click', '.handle_done', function(){
           var id = $(this).attr('id');
           var token = $("input[name=csrfmiddlewaretoken]").val();
           if(confirm("Are you sure ?")){

                $.ajax({
                    type:'POST',
                    url:location.href,
                    data: {'tkid':id, 'csrfmiddlewaretoken':token, 'stt': 2, 'type': 'process_done'},
                    success: function(){
                        var date = formatAMPM(new Date());
                        $("#list_ticket_processing").load(location.href + " #list_ticket_processing");

                        var userName = $('#user'+id).val();

                        var Socket1 = new WebSocket(
                            'ws://' + window.location.host +
                            '/ws/user/' + userName + '/');

                        message = 'Ticket '+id+' is done!' 
                        Socket1.onopen = function (event) {
                            setTimeout(function(){
                                Socket1.send(JSON.stringify({
                                    'message' : message,
                                    'time' : date
                                }));
                            }, 1000);
                        };
                            
                    }
                });
            }
        });


        $("body").on('click', '.handle_processing', function(){
           var id = $(this).attr('id');
           var token = $("input[name=csrfmiddlewaretoken]").val();
           if(confirm("Are you sure ?")){
                $.ajax({
                    type:'POST',
                    url:location.href,
                    data: {'tkid':id, 'csrfmiddlewaretoken':token, 'stt': 1, 'type': 'process_done'},
                    success: function(){
                        var date = formatAMPM(new Date());
                        $("#list_ticket_processing").load(location.href + " #list_ticket_processing");

                        var userName = $('#user'+id).val();

                        var Socket1 = new WebSocket(
                            'ws://' + window.location.host +
                            '/ws/user/' + userName + '/');

                        message = 'Ticket '+id+' is re-process!' 
                        Socket1.onopen = function (event) {
                            setTimeout(function(){
                                Socket1.send(JSON.stringify({
                                    'message' : message,
                                    'time' : date
                                }));
                            }, 1000);
                        };
                            
                    }
                });
           }
       });
       
       $("body").on('click', '.give_up', function(){
           var id = $(this).attr('id');
           var token = $("input[name=csrfmiddlewaretoken]").val();
           if(confirm("Are you sure ?\n*You can't give up when there is only you handle this ticket.")){
                $.ajax({
                    type:'POST',
                    url:location.href,
                    data: {'tkid':id, 'csrfmiddlewaretoken':token, 'type': 'give_up'},
                    success: function(){
                        // window.location.reload();
                        $("#list_ticket_processing").load(location.href + " #list_ticket_processing");

                        var userName = $('#user'+id).val();
                        var Socket1 = new WebSocket(
                            'ws://' + window.location.host +
                            '/ws/user/' + userName + '/');

                        message = 'give up'
                        var date = formatAMPM(new Date());
                        Socket1.onopen = function (event) {
                            setTimeout(function(){
                                Socket1.send(JSON.stringify({
                                    'message' : message,
                                    'time' : date
                                }));
                            }, 1000);
                        };
                        // con thong bao toi agent khac, load lai trang cua agent va admin
                        list_agent = [];
                        var date = formatAMPM(new Date());
                        var array = $('body #hd'+id).html().split(",");
                        for (i = 0; i < array.length-1; i++) {
                            if (agentName !=  array[i].replace(/\s/g,'')){
                                list_agent.push(array[i].replace(/\s/g,'')+'+');
                            }
                        }

                        list_agent.push('give up');
                        list_agent.unshift(id);
                        list_agent.unshift(agentName);
                        group_agent_Socket.send(JSON.stringify({
                            'message' : list_agent,
                            'time' : date
                        }));
                    }
                });
            }
       });

        $("body").on('click', '#chat_with_user', function(){
            var tkid = $(this).children('input').val();
            $("body .noti_chat"+tkid).hide();
            $('body .chat'+tkid).show();
            $("body .mytext").focus();
            var roomName = makeid();
            

            if (dict_ws[tkid] == undefined){
                dict_ws[tkid] = new WebSocket(
                'ws://' + window.location.host +
                '/ws/' + tkid + '/');
            }

            var me = {};
            me.avatar = "https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/22885865_1722296451175676_8315630450281336486_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeF3N32BRG1HfiI6wYFOD0syQnWULRna1ynbA4X_9isP5U9OTYpX393weyHM7i53ld34rFsOa0PdREWLJij8FWXIF0EfX1p8u3GUsxq_xcyEsw&oh=733c482517a19a82689b73cea0f35a4e&oe=5B58D2E3";

            var you = {};
            you.avatar = "https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/14732373_1224510360954290_7402332525860387467_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHKXwDy_s1iK9FoOwayfi1qoOsIZlCm_H_ILhjIlp7LpK_1UzL2lTNdV6hbvFqTDhhJngiHagzjXZdsq1veAd6UGPEJKNXC4eyjPt-BNHGNUA&oh=6e9c0ee4c9352e7446fdef79a9037cd7&oe=5B5799DF";      

            //-- No use time. It is a javaScript effect.
            function insertChat(who, text, time){
                if (time === undefined){
                    time = 0;
                }
                var control = "";
                var date = time;
                
                if (who == "me"){
                    control = '<li style="width:100%">' +
                                    '<div class="msj macro">' +
                                    '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                                        '<div class="text text-l">' +
                                            '<p>'+ text +'</p>' +
                                            '<p><small>'+date+'</small></p>' +
                                        '</div>' +
                                    '</div>' +
                                '</li>';                    
                }else{
                    control = '<li style="width:100%;">' +
                                    '<div class="msj-rta macro">' +
                                        '<div class="text text-r">' +
                                            '<p>'+text+'</p>' +
                                            '<p><small>'+date+'</small></p>' +
                                        '</div>' +
                                    '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
                            '</li>';
                }
                setTimeout(
                    function(){                        
                        $("body #chat"+tkid+" .frame > ul").append(control).scrollTop($("body #chat"+tkid+" .frame > ul").prop('scrollHeight'));
                    }, time);
                
            }

            
            dict_ws[tkid].onmessage = function(e) {
                var data = JSON.parse(e.data);
                var message = data['message'];
                var who = data['who'];
                var time = data['time'];
                insertChat(who, message, time);
            };

            
        });

             
   });
</script>
{% endblock %}
