<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/detail_agent.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/home_user.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <script src="{% static 'js/home_agent.js' %}"></script>
    <title>Profile</title>
</head>
<body>
        <div class="header">
                <nav class="main-menu">
                    <ul>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                                <div class="notify"> 
                                    <span class="point point_noti"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="slimScrollDiv" style="position: relative; overflow-x: visible; overflow-y: hidden; width: auto; height: 250px;">
                                            <div class="message-center noti_noti" style="overflow: hidden; width: auto; height: 250px;">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-envelope"></i>
                                <div class="notify"> 
                                    <span class="point point_message"></span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-left mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="slimScrollDiv" style="position: relative; overflow-x: visible; overflow-y: hidden; width: auto; height: 250px;">
                                            <div class="message-center notification_chat" style="overflow: hidden; width: auto; height: 250px;">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="list-group-item" href="{% url 'agent:home_agent' %}">Home</a></li>
                        <li><a class="list-group-item" href="{% url 'agent:inbox' %}">Inbox</a></li>
                        <li><a class="list-group-item" href="{% url 'agent:outbox' %}">Outbox</a></li>
                        <li><a class="list-group-item" href="{% url 'agent:processing_ticket' %}">Processing ticket</a></li>
                        <li><a class="list-group-item" href="{% url 'agent:closed_ticket' %}">Closed ticket</a></li>
                        <li><a class="list-group-item" href="{% url 'agent:manage_user' %}">Manage user</a></li>
                        <li><a class="list-group-item" href="{% url 'agent:profile' %}">Profile</a></li>
                        <li><a class="list-group-item" href="{% url 'agent:logout' %}">Logout</a></li>
                    </ul>
                </nav>
            </div>
            <br />
            <br />
            <br />
<div class="container" id="info_user">
    <h2>Profile</h2>
    <table class="table table-striped table-bordered">
            <tr>
                <td>Fullname</td>
                <td id="full_name">{{ agent.fullname }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td id="email_user">{{ agent.email }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td id="phone_user">{{ agent.phone }}</td>
            </tr>
            <tr>
                <td>Status</td>
                {% if agent.status == 0 %}
                <td><span class="label label-danger">inactive</span></td>
                {% else %}
                <td><span class="label label-success">active</span></td>
                {% endif %}
            </tr>
            <tr>
                <td>Receive email</td>
                {% if agent.receive_email == 0 %}
                 <td><span class="label label-danger">no</span></td>
                {% else %}
                <td><span class="label label-success">yes</span></td>
                {% endif %}
            </tr>
    </table>
    <button type="button" class="btn btn-success" id="{{ agent.receive_email }}" data-toggle="modal" data-title="change" data-target="#topicModal" >
            <span class="glyphicon glyphicon-wrench">Change info</span>
    </button>

    <button type="button" class="btn btn-danger" id="{{ agent.id }}" data-toggle="modal" data-title="change_pwd" data-target="#topicModal" >
            <span class="glyphicon glyphicon-wrench" id="{{agent.password}}" name='pwd_current'>Change password</span>
    </button>
</div>
{% csrf_token %}
<div id="topicModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" style= "color: red";><strong id="title"></strong></h3>
            </div>
                <div class="modal-body form-group">
                    <div id="info">
                        <label for="fullname"><b>Full name</b></label>
                        <input class="inputText form-control" type="text" placeholder="Full name" name="fullname" >

                        <label for="email"><b>Email</b></label>
                        <input class="inputText form-control" type="text" placeholder="Enter Email" name="email">

                        <label for="phone"><b>Phone</b></label>
                        <input class="inputText form-control" type="text" placeholder="Enter your phone number" name="phone">

                        <label for="phone"><b>Receive email:</b></label><br/>
                        {% if agent.receive_email == 0 %}
                        <input style="transform: scale(2)" type="checkbox" name="receive_email"> <b>Yes</b>
                        {% else %}
                        <input style="transform: scale(2)" type="checkbox" name="receive_email" checked> <b>Yes</b>
                        {% endif %}
                    </div>

                    <div id="pwd">
                        <label for="psw-current"><b>Current Password</b></label>
                        <input class="inputText form-control" type="password" placeholder="Enter current Password" name="current_password">

                        <label for="psw"><b>Password</b></label>
                        <input class="inputText form-control" type="password" placeholder="Enter new Password" name="password">

                        <label for="psw-repeat"><b>Repeat Password</b></label>
                        <input class="inputText form-control" type="password" placeholder="Repeat new Password" name="password2">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id = "change_user_close">Close</button>
                    <button type="button" id="changeuser" class="btn btn-success">Save</button>
                </div>

        </div>
    </div>
</div>
<audio id="myAudio">
    <source src="{% static 'ping.mp3' %}" type="audio/mpeg">
</audio>
<script>
    var x = document.getElementById("myAudio"); 
    var agentName = {{ agent_name }};
    /*var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/agent/' + agentName + '/');*/
    
    var group_agent_Socket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/agent/'+agentName+'+group_agent_Socket/');
        
        
    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }

    $("body").on('click', '.fa-bell', function(){
        $("body .point_noti").hide();
    });

    $("body").on('click', '.fa-envelope', function(){
        $("body .point_message").hide();
    });

    function check_exits(id, list){
        var x = false;
        for (var i = 0; i < list.length; i++)
            if (list[i] == id){
                x = true;
                break;
            }
        return x;
    }


    group_agent_Socket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        var time = data['time'];
        var type_save = data['type'];
            if (typeof type_save !== 'undefined'){
                if (type_save == 're-noti'){
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                }else{
                    var name = data['user_name'];
                    var href="javascript:register_popup_agent('chat"+message+"', "+message+", '"+name+"');"
                    var noti = '<a href="'+href+'" class="noti_chat"><div class="mail-contnet"><span class="mail-desc">'+message+'</span><span class="time">'+time+'</span></div></a>';
                    $('.notification_chat').prepend(noti);
                }
            }else{
                // Thong bao va load lai table home_agent khi co new ticket hoac co 1 agent nhan xu ly ticket
                switch(message) {
                    case 'new_ticket':
                        var message = 'You have a new ticket';
                        var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message+'</span><span class="time">'+time+'</span></div></a>';
                        $('.noti_noti').prepend(noti);
                        $("body .point_noti").show();

                        group_agent_Socket.send(JSON.stringify({
                            'message' : message,
                            'agentName' : agentName,
                            'time' : time,
                            'type' : 'save',
                        }));
                        setTimeout(function(){
                            $("#list_ticket_home").load(location.href + " #list_ticket_home");
                        }, 1000);
                        x.play();
                        break;

                    case 'ticket da duoc xu ly':
                        setTimeout(function(){
                            $("#list_ticket_home").load(location.href + " #list_ticket_home");
                        }, 1000);
                        break;
                }

                // Thong bao va load lai table processing khi ban duoc ai do forward hoac add ticket
                if (check_exits(agentName, message) && check_exits('forward_new', message)) {
                    var message = 'INBOX: You have a new ticket(forward)';
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#list_ticket_forward").load(location.href + " #list_ticket_forward");
                    }, 2000);
                }

                if (check_exits(agentName, message) && check_exits('add_new', message)) {
                    var message = 'INBOX: You have a new ticket(add)';
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#list_ticket_add").load(location.href + " #list_ticket_add");
                    }, 2000);
                }

                // Thong bao va load lai table inbox, processing khi co agent dong y ticket ban forward hoac add
                if (message.includes('+'+agentName) && message.includes('agreed your ticket you forwarding')) {
                    var message1 = message.slice(0, (message.length - agentName.length - 1));
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#info_user").load(location.href + " #info_user");
                    }, 2000);
                }

                if (message.includes('+'+agentName) && message.includes('Your ticket you forwarding refused by')) {
                    var message1 = message.slice(0, (message.length - agentName.length - 1));
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#list_ticket_forward_outbox").load(location.href + " #list_ticket_forward_outbox");
                    }, 2000);
                }

                if (message.includes('+'+agentName) && message.includes('agreed your ticket you adding')) {
                    var message1 = message.slice(0, (message.length - agentName.length - 1));
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#info_user").load(location.href + " #info_user");
                    }, 2000);
                }

                if (message.includes('+'+agentName) && message.includes('Your ticket you adding refused by')) {
                    var message1 = message.slice(0, (message.length - agentName.length - 1));
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#list_ticket_add_outbox").load(location.href + " #list_ticket_add_outbox");
                    }, 2000);
                }
                
                
                if (check_exits(agentName, message) && check_exits('leader_forward', message)) {
                    var message1 = 'Leader have just forwarded for you ticket '+message[message.length-1];
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#list_ticket_processing").load(location.href + " #list_ticket_processing");
                    }, 2000);
                }
                
                if (check_exits(agentName, message) && check_exits('admin_close_ticket', message)) {
                    var len = message.length;
                    var message1 = 'Leader have just closed ticket '+message[len-1];
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#list_ticket_processing").load(location.href + " #list_ticket_processing");
                    }, 2000);
                }

                
                if (check_exits(agentName, message) && check_exits('admin_open_ticket', message)) {
                    var len = message.length;
                    var message1 = 'Leader have just opend ticket '+message[len-1];
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#list_ticket_processing").load(location.href + " #list_ticket_processing");
                    }, 2000);
                }

                
                if (message.includes(agentName) && message[1].includes('is closed by')) {
                    var len = message.length;
                    var message1 = message[len-1];
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));
                    setTimeout(function(){
                        $("#info_user").load(location.href + " #info_user");
                    }, 2000);
                }

                if (message.includes(agentName+'+') && message.includes('give up')) {
                    var message1 = message[0]+' just have given up ticket no. '+message[1];
                    var noti = '<a href="#"><div class="mail-contnet"><span class="mail-desc">'+message1+'</span><span class="time">'+time+'</span></div></a>';
                    $('.noti_noti').prepend(noti);
                    $("body .point_noti").show();
                    x.play();

                    group_agent_Socket.send(JSON.stringify({
                        'message' : message1,
                        'agentName' : agentName,
                        'time' : time,
                        'type' : 'save',
                    }));

                    setTimeout(function(){
                        $("#info_user").load(location.href + " #info_user");
                    }, 2000);
                }

                if (check_exits(agentName, message) && check_exits('new_chat', message)) {
                    var tkid = message[0];
                    if ($('body .chat'+tkid).length){
                        if ($('body .chat'+tkid).css('display') == 'none'){
                            var href="javascript:register_popup_agent('chat"+message[0]+"', "+message[0]+", '"+message[1]+"');"
                            var message2 = message[0]+'-'+message[1];
                            var noti = '<a href="'+href+'" class="noti_chat"><div class="mail-contnet"><span class="mail-desc">'+message[0]+'</span><span class="time">'+time+'</span></div></a>';
                            $('.notification_chat').prepend(noti);
                            $("body .point_message").show();
                            x.play();

                            group_agent_Socket.send(JSON.stringify({
                                'message' : message2,
                                'agentName' : agentName,
                                'time' : time,
                                'type' : 'chat',
                            }));
                        }
                    }else{
                        var href="javascript:register_popup_agent('chat"+message[0]+"', "+message[0]+", '"+message[1]+"');"
                        var message2 = message[0]+'-'+message[1];
                        var noti = '<a href="'+href+'" class="noti_chat"><div class="mail-contnet"><span class="mail-desc">'+message[0]+'</span><span class="time">'+time+'</span></div></a>';
                        $('.notification_chat').prepend(noti);
                        $("body .point_message").show();
                        x.play();

                        group_agent_Socket.send(JSON.stringify({
                            'message' : message2,
                            'agentName' : agentName,
                            'time' : time,
                            'type' : 'chat',
                        }));
                    }
                    
                }
            }
        
    };
    

    var dict_ws = {};
    $("body").on('click', '.noti_chat', function(){
        var tkid = $(this).children().children('span').html();
        $("body .noti_chat"+tkid).hide();
        $('body .chat'+tkid).show();
        $("body .mytext").focus();
        

        if (dict_ws[tkid] == undefined){
            dict_ws[tkid] = new WebSocket(
            'ws://' + window.location.host +
            '/ws/' + tkid + '/');
        }

        var me = {};
        me.avatar = "https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/22885865_1722296451175676_8315630450281336486_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeF3N32BRG1HfiI6wYFOD0syQnWULRna1ynbA4X_9isP5U9OTYpX393weyHM7i53ld34rFsOa0PdREWLJij8FWXIF0EfX1p8u3GUsxq_xcyEsw&oh=733c482517a19a82689b73cea0f35a4e&oe=5B58D2E3";

        var you = {};
        you.avatar = "https://scontent.fhan3-2.fna.fbcdn.net/v/t1.0-9/14732373_1224510360954290_7402332525860387467_n.jpg?_nc_cat=0&_nc_eui2=v1%3AAeHKXwDy_s1iK9FoOwayfi1qoOsIZlCm_H_ILhjIlp7LpK_1UzL2lTNdV6hbvFqTDhhJngiHagzjXZdsq1veAd6UGPEJKNXC4eyjPt-BNHGNUA&oh=6e9c0ee4c9352e7446fdef79a9037cd7&oe=5B5799DF";      

        //-- No use time. It is a javaScript effect.
        function insertChat(who, text, time){
            if (time === undefined){
                time = 0;
            }
            var control = "";
            var date = time;
            
            if (who == "me"){
                control = '<li style="width:100%">' +
                                '<div class="msj macro">' +
                                '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                                    '<div class="text text-l">' +
                                        '<p>'+ text +'</p>' +
                                        '<p><small>'+date+'</small></p>' +
                                    '</div>' +
                                '</div>' +
                            '</li>';                    
            }else{
                control = '<li style="width:100%;">' +
                                '<div class="msj-rta macro">' +
                                    '<div class="text text-r">' +
                                        '<p>'+text+'</p>' +
                                        '<p><small>'+date+'</small></p>' +
                                    '</div>' +
                                '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
                        '</li>';
            }
            setTimeout(
                function(){                        
                    $("body #chat"+tkid+" .frame > ul").append(control).scrollTop($("body #chat"+tkid+" .frame > ul").prop('scrollHeight'));
                }, time);
            
        }

        
        dict_ws[tkid].onmessage = function(e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var who = data['who'];
            var time = data['time'];
            insertChat(who, message, time);
        };

        
    });

    $('body').on('click', 'header', function(){
        $(this).next().slideToggle(300, 'swing');
    })

    $('body').on('click', '.xxx', function(){
        $("body .mytext").trigger({type: 'keydown', which: 13, keyCode: 13});
    })

    $("body .mytext").focus();
    $('body').on('keyup', '.mytext', function(e){
        if (e.keyCode === 13) {
            $(this).parent().parent().next().children('span').click();
        }
    })

    $('body').on('click', '.xxx', function(){
        var message = $(this).parent().parent().children().children().children('input').val();
        var tk_id = $(this).parent().parent().parent().parent().children().children('.popup-head-left').children('h4').html();
        var date = formatAMPM(new Date());
        if (message != ''){
            dict_ws[tk_id].send(JSON.stringify({
                'message' : message,
                'who' : 'you',
                'time' : date
            }));
        }
        $(this).parent().parent().children().children().children('input').val('');
///////////////////////////////////////////////////
        var userName = $(this).parent().parent().parent().parent().children().children('.popup-head-left').children('input').val();
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/user/' + userName + '/');
        message = [];
        message.push('new+chat');
        message.unshift(tk_id);
        chatSocket.onopen = function (event) {
            chatSocket.send(JSON.stringify({
                'message' : message,
                'time' : date
            }));
        };
    })


    $('body').on('click', '.chat-close', function(){
        var tk_id = $(this).parent().next().children('h4').html();
        dict_ws[tk_id].close();
        delete dict_ws[tk_id];
        $("body #chat"+tk_id+" .frame > ul").empty();
    })
</script>
</body>
</html>
